@using System.Globalization
@{
    ViewData["Title"] = "Admit Cards";
    GlobalUI.PageTitle = ViewData["Title"].ToString();
}


<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="AdmitCard" method="post">
                    <fieldset class="border border-info p-2">
                        <legend class="w-auto text-primary">Admit Card</legend>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Exam Type</label>
                            <div class="col-sm-9">
                                <select id="ExamTypeId" class="form-control" asp-items="ViewBag.ExamType">
                                    <option disabled selected>-Select Exam Type-</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Exam Month</label>
                            <div class="col-sm-9">
                                <select id="monthId" name="monthId" class="form-control">
                                    <option disabled selected>--Select Month--</option>
                                    @for (int i = 1; i <= 12; i++)
                                    {
                                        <option value="@i">@DateTimeFormatInfo.CurrentInfo.GetMonthName(i)</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="classId" class="col-sm-3 col-form-label">Academic Class</label>
                            <div class="col-sm-9">
                                <select id="AcademicClassId" class="form-control" asp-items="ViewBag.AcademicClass">
                                    <option disabled selected>-Select Class-</option>
                                    <option value="all">All Class-</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="classId" class="col-sm-3 col-form-label">Academic Section</label>
                            <div class="col-sm-9">
                                <select id="AcademicSectionId" class="form-control">
                                    <option value="0">Section</option>
                                </select>
                            </div>
                        </div>
                        <div class="text-right">
                            <span id="myButton" class="btn btn-sm btn-info">Load Report</span>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="InvalidForm" style="display:none">
                <div><h2 class="text-danger"> Please Select all the field</h2></div>
            </div>
        </div>
    </div>
    <div class="col-md-8" id="iframe-container" style="display:none">
        <div class="row" style="height:600px;">
            <iframe id="myIframe" style="width: 100%; height: 100%;"></iframe>
        </div>
        <div class="row" id="exportOptions" style="display:none">
            <div class="col-md-12 d-flex justify-content-end">
                <form asp-action="AdmitCardExport" asp-controller="Reports" method="get">
                    <input type="hidden" id="exportAcademicClassId" name="academicClassId" />
                    <input type="hidden" id="exportAcademicSectionId" name="academicSectionId" />
                    <input type="hidden" id="exportMonthId" name="monthId" />
                    <div class="btn-group btn-sm mr-2 " role="group" aria-label="First group">
                        <input type="hidden" name="fileName" value="Admit Cards" />
                        <button type="submit" name="reportType" value="pdf" class="btn-sm btn btn-danger" data-toggle="tooltip" title="Export PDF" data-placement="left"><i class="fas fa-file-pdf"></i></button>
                        <button type="submit" name="reportType" value="xls" class="btn-sm btn btn-success" data-toggle="tooltip" title="Export xls" data-placement="top"><i class="fas fa-file-excel"></i></button>
                        <button type="submit" name="reportType" value="word" class="btn-sm btn btn-primary" data-toggle="tooltip" title="Export doc" data-placement="top"><i class="fas fa-file-word"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8 text-center" id="loading" style="display:none">
        <div class="d-flex justify-content-center h-100 align-content-center align-items-center">
            <h2 class="text-danger"><span class="spinner-border" role="status" aria-hidden="true"></span> Please wait while the data is loading...</h2>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myButton').click(function () {
                let reportType = 'pdf';
                let aSection = '0';
                let academicClassId = '0';
                let monthId = '0';

                academicClassId = $('#AcademicClassId option:selected').val();
                aSection = $('#AcademicSectionId option:selected').val();
                monthId = $('#monthId option:selected').val();

                if (academicClassId <= '0') {
                    $('#InvalidForm').show();
                    $('#AcademicSessionId').focus();
                    $('#iframe-container').hide();
                    $('#loading').hide();
                }
                else {
                    $('#exportAcademicClassId').attr('value', academicClassId);
                    $('#exportAcademicSectionId').attr('value', aSection);
                    $('#exportMonthId').attr('value', monthId);

                    $('#myIframe').attr('src', '/Reports/AdmitCardExport?reportType=' + reportType + '&&academicClassId=' + academicClassId + '&&academicSectionId=' + aSection + '&&monthId=' + monthId);

                    var iframe = document.getElementById('myIframe');
                    $('#loading').show();
                    $('#iframe-container').hide();
                    $('#InvalidForm').hide();
                    // Attach a load event handler to the iframe
                    iframe.onload = function () {
                        console.log('Iframe loaded');
                        $('#loading').hide();
                        $('#exportOptions').show();
                        $('#iframe-container').show();
                    };

                }
            });



            $('#AcademicClassId').change(function () {
                let id = $('#AcademicClassId option:selected').val();
                let sessionId = $('#AcademicSessionId option:selected').val();

                $.ajax({
                    url: "/api/academicsections/getbyclasswithsessionId?classId=" + id + "&sessionId=" + sessionId,
                    dataType: "JSON",
                    type: "POST",
                    cache: false,
                    success: function (data) {
                        $('#AcademicSectionId').empty();

                        if (data != null || data != '') {
                            var o = '<option disabled selected value="0">Select Section Name</option>';
                            var o2 = '<option value="all">All Section</option>';
                            $('#AcademicSectionId').append(o);
                            $('#AcademicSectionId').append(o2);
                            $.each(data, function (i, obj) {
                                console.log(obj.name);
                                var op = '<option value="' + obj.id + '">' + obj.name + '</option>';
                                $('#AcademicSectionId').append(op);
                            });
                        }
                        else {
                            var o = '<option disabled selected>Section Not Found</option>';
                            $('#AcademicSectionId').append(o);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });

        });

    </script>
}