@using Microsoft.AspNetCore.Identity;

@model SMS.App.ViewModels.Students.StudentDashboardVM

@inject UserManager<ApplicationUser> _userManager;

@{
    if (await _userManager.IsInRoleAsync((await _userManager.GetUserAsync(User)), "Teacher"))
    {
        Layout = "~/Views/Shared/_TeacherLayout.cshtml";
    }
    ViewData["Title"] = "Home Page";
    GlobalUI.PageTitle = "";
    if (ViewBag.InstituteName != null)
    {
        GlobalUI.InstituteName = ViewBag.InstituteName;
    }

    int totalStudent = 0;
    int totalTeacher = 0;
    int totalEmployee = 0;
    if (ViewBag.totalStudent != null)
    {
        totalStudent = ViewBag.totalStudent;
    }
    if (ViewBag.totalTeacher != null)
    {
        totalTeacher = ViewBag.totalTeacher;
    }
    if (ViewBag.totalEmployee != null)
    {
        totalEmployee = ViewBag.totalEmployee;
    }
}

<div class="text-center">
    @if (GlobalUI.InstituteName != null)
    {
        <h1 class="display-4">Welcome to @GlobalUI.InstituteName</h1>
    }
    else
    {
        <h1 class="display-4">Welcome to School Management System</h1>
    }
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card text-white bg-primary mb-3 text-center" style="min-height:200px;">
            <div class="card-header">Total Student</div>
            <div class="card-body">
                <a class="text-light" asp-action="Index" asp-controller="Students">
                    <h2>Total <span class="h1 text-warning">@totalStudent</span> Students</h2>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-info mb-3 text-center" style="min-height:200px;">
            <div class="card-header ">Total Teacher</div>
            <div class="card-body">
                <a class="text-light" asp-action="Index" asp-controller="Employees"><h2>Total <span class="h1 text-warning"> @totalTeacher</span> Teachers</h2></a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-success mb-3 text-center" style="min-height:200px;">
            <div class="card-header text-center">Total Employee</div>
            <div class="card-body">
                <a class="text-light" asp-action="Index" asp-controller="Employees">
                    <h2>Total <span class="h1 text-warning">@totalEmployee</span> Employee</h2>
                </a>
            </div>
        </div>
    </div>
</div>
