@model OffDay

@{
    ViewData["Title"] = "Update Holiday";
    GlobalUI.PageTitle = ViewData["Title"].ToString();
}

<div class="row">
    <div class="col-md-8 offset-2">
        <form asp-action="Edit" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Id" />
            <fieldset class="border p-3">
                <legend class="" style="width:inherit">Holiday Information</legend>
                <div class="form-group row">
                    <label asp-for="OffDayName" class="col-sm-3 col-form-label text-right text-sm-left"></label>
                    <div class="col-sm-9">
                        <input asp-for="OffDayName" class="form-control" placeholder="Holiday Name">
                        <span class="text-danger" asp-validation-for="OffDayName"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="OffDayTypeId" class="col-sm-3 col-form-label text-right text-sm-left"></label>
                    <div class="col-sm-9">
                        <select asp-items="ViewBag.OffDayType" class="form-control" asp-for="OffDayTypeId">
                            <option selected disabled>--Select Holiday Type--</option>
                        </select>
                        <span class="text-danger" asp-validation-for="OffDayTypeId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="OffDayStartingDate" class="col-sm-3 col-form-label text-right text-sm-left"></label>
                    <div class="col-sm-9">
                        <input type="date" asp-for="OffDayStartingDate" class="form-control">
                        <span class="text-danger" asp-validation-for="OffDayStartingDate"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-right text-sm-left">Single day</label>
                    <div class="col-sm-1">
                        <input class="" type="checkbox" id="SingleDayId">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="OffDayEndDate" class="col-sm-3 col-form-label text-right text-sm-left"></label>
                    <div class="col-sm-9">
                        <input type="date" asp-for="OffDayEndDate" class="form-control" placeholder="Holiday End Date">
                        <span class="text-danger" asp-validation-for="OffDayEndDate"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Description" class="col-sm-3 col-form-label text-right text-sm-left"></label>
                    <div class="col-sm-9">
                        <input asp-for="Description" class="form-control" placeholder="Description">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10 text-right">
                        <button type="submit" class="btn btn-warning">Submit</button>
                        <a asp-action="Index" class="btn btn-success btn-sm rounded-1" data-toggle="tooltip" data-placement="top" title="List"><i class="fa fa-list"></i></a>
                        @*<partial name="_Edit_Back" model="@Model.Id" />*@
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

@section scripts{ 
    <script>

        $(document).ready(function () {
            $('#SingleDayId').on('change', function () {
                if ($('#SingleDayId').is(':checked') == true) {
                    $('#OffDayEndDate').val($("#OffDayStartingDate").val());
                    $('#OffDayEndDate').prop("disabled", true);
                }
                else {
                    $('#OffDayEndDate').prop("disabled", false);
                }
            });
        });
    </script>
}