@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (GlobalUI.InstituteName != null)
    {
        <h1 class="display-4">Welcome to @GlobalUI.InstituteName</h1>
    }
    else
    {
        <h1 class="display-4">Welcome to School Management System</h1>
    }
</div>
