USE [SMSDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCheckOutReportData]    Script Date: 8/28/2025 5:43:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetCheckOutReportData]
    @attendanceFor nvarchar(10),
    @ReportDate DATE,
    @ClassId INT = NULL,
    @SectionId INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CheckOutStart TIME;
    DECLARE @CheckOutEnd TIME;

    -- Get CheckOut times from ParamBusConfigs
    SELECT @CheckOutStart = ParamValue FROM ParamBusConfigs WHERE ParamSL = 3;
    SELECT @CheckOutEnd   = ParamValue FROM ParamBusConfigs WHERE ParamSL = 4;

    -- Core query
    IF @attendanceFor = 'employees'
    BEGIN
        select
            NULL AS Class_Designation,
            NULL AS CardNo,
            NULL as SortingOrder,
            NULL as Name,
            NULL AS Phone,
            NULL AS GuardianPhone,
            NULL AS PunchTime,
            NULL AS SMSSent
        FROM employee e
        where 2=3;
    END
    ELSE
    BEGIN
        SELECT 
        c.Name AS Class_Designation,
        s.UniqueId AS CardNo,
        cast(s.ClassRoll as nvarchar) AS ClassRoll,
        cast(s.ClassRoll as nvarchar) as SortingOrder,
        s.Name,
        s.PhoneNo AS Phone,
        s.GuardianPhone AS GuardianPhone,
        RIGHT(CONVERT(VARCHAR(20), p.PunchDatetime, 100), 7) AS PunchTime,
        CASE 
            WHEN sms.CreatedAt IS NULL 
                THEN 'Not Sent'
            ELSE RIGHT(CONVERT(VARCHAR(20), sms.CreatedAt, 100), 7)
        END AS SMSSent
    FROM Student s
    LEFT JOIN AcademicClass c ON s.AcademicClassId = c.Id
    CROSS APPLY (
        SELECT TOP 1 *
        FROM Tran_MachineRawPunch t
        WHERE t.CardNo = s.UniqueId
          AND t.PunchDatetime >= @ReportDate
          AND t.PunchDatetime < DATEADD(DAY, 1, @ReportDate)
          AND CONVERT(TIME, t.PunchDatetime) BETWEEN @CheckOutStart AND @CheckOutEnd
        ORDER BY t.PunchDatetime DESC
    ) p
    LEFT JOIN (
        SELECT *
        FROM PhoneSMS
        WHERE SMSType = 'CheckOut'
          AND CreatedAt >= @ReportDate
          AND CreatedAt < DATEADD(DAY, 1, @ReportDate)
    ) sms ON s.GuardianPhone = sms.MobileNumber
    WHERE (@ClassId IS NULL OR s.AcademicClassId = @ClassId)
      AND (@SectionId IS NULL OR s.AcademicSectionId = @SectionId)
    ORDER BY s.ClassRoll;
    END;
END;