@using System.Globalization
@{
    ViewData["Title"] = "Daily Attendance Report";
    GlobalUI.PageTitle = ViewData["Title"].ToString();
}

<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="DailyAttendanceReport" method="post">
                    <fieldset class="border border-info p-2">
                        <legend class="w-auto text-primary">Daily Attendance Info</legend>

                        <input type="hidden" id="attendancForId"  value="s" />
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Attendance Date</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="date" id="sFromDate" name="fromDate" value="@DateTime.Today" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="classId" class="col-sm-3 col-form-label">Academic Class</label>
                            <div class="col-sm-9">
                                <select id="AcademicClassId" class="form-control" asp-items="ViewBag.AcademicClass">
                                    <option disabled selected value="">-Select Class-</option>
                                    <option value="">All Class-</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="classId" class="col-sm-3 col-form-label">Academic Section</label>
                            <div class="col-sm-9">
                                <select id="AcademicSectionId" class="form-control">
                                    <option value="">Section</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="classId" class="col-sm-3 col-form-label">Attendancy Type</label>
                            <div class="col-sm-9">
                                <select id="AttendanceType" class="form-control">
                                    <option value="attended" selected disabled>Select Attendace Type</option>
                                    <option value="attended">attended</option>
                                    <option value="absent" >absent</option>
                                </select>
                            </div>
                        </div>
                        <div class="text-right">
                            <span id="loadReportBtn" class="btn btn-sm btn-info">Load Report</span>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="InvalidForm" style="display:none">
                <div><h2 class="text-danger"> Please Select the required field</h2></div>
            </div>
        </div>
    </div>
    <div class="col-md-8" id="iframe-container" style="display:none">
        <div class="row" style="height:600px;">
            <iframe id="myIframe" style="width: 100%; height: 100%;"></iframe>
        </div>
        <div class="row" id="exportOptions" style="display:none">
            <div class="col-md-12 d-flex justify-content-end">
                <form asp-action="DailyAttendnaceReportExport" asp-controller="Reports" method="get">
                    <input type="hidden" id="exportFromDate" name="fromDate" />
                    <input type="hidden" id="exportAcademicClassId" name="academicClassId" />
                    <input type="hidden" id="exportAcademicSectionId" name="academicSectionId" />
                    <input type="hidden" id="exportAttendanceType" name="attendanceType" />
                    <div class="btn-group btn-sm mr-2 " role="group" aria-label="First group">
                        <input type="hidden" name="fileName" value="Daily Attendance Report_@DateTime.Now.ToString("dd_MM_yyyy")" />
                        <button type="submit" name="reportType" value="pdf" class="btn-sm btn btn-danger" data-toggle="tooltip" title="Export PDF" data-placement="left"><i class="fas fa-file-pdf"></i></button>
                        <button type="submit" name="reportType" value="xls" class="btn-sm btn btn-success" data-toggle="tooltip" title="Export xls" data-placement="top"><i class="fas fa-file-excel"></i></button>
                        <button type="submit" name="reportType" value="word" class="btn-sm btn btn-primary" data-toggle="tooltip" title="Export doc" data-placement="top"><i class="fas fa-file-word"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8 text-center" id="loading" style="display:none">
        <div class="d-flex justify-content-center h-100 align-content-center align-items-center">
            <h2 class="text-danger"><span class="spinner-border" role="status" aria-hidden="true"></span> Please wait while the data is loading...</h2>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(function () {
            $('#loadReportBtn').click(function () {

                $('#myIframe').attr('src', '');
                let fileName = '';
                let reportType = 'pdf';
                let aSection = '0';
                let academicClassId = '0';
                let fromDate = '';
                let attendanceType = 'all';
                let attendanceFor = '';

                fromDate = $('#sFromDate').val();
                academicClassId = $('#AcademicClassId option:selected').val();
                aSection = $('#AcademicSectionId option:selected').val();
                attendanceType = $('#AttendanceType option:selected').val();
                attendanceFor = $('#attendancForId option:selected').val();

                if (fromDate == '' || attendanceFor == '') {
                    $('#InvalidForm').show();
                    $('#AcademicClassId').focus();
                    $('#iframe-container').hide();
                    $('#loading').hide();
                }
                else {
                    $('#exportAcademicClassId').attr('value', academicClassId);
                    $('#exportAcademicSectionId').attr('value', aSection);
                    $('#exportFromDate').attr('value', fromDate);
                    $('#exportAttendanceType').attr('value', attendanceType);

                    $('#myIframe').attr('src', '/Reports/DailyAttendnaceReportExport?reportType=' + reportType + '&&fromDate=' + fromDate + '&&academicClassId=' + academicClassId + '&&academicSectionId=' + aSection + "&&attendanceType=" + attendanceType + "&&fileName=" + fileName);

                    var iframe = document.getElementById('myIframe');
                    $('#loading').show();
                    $('#iframe-container').hide();
                    $('#InvalidForm').hide();
                    // Attach a load event handler to the iframe
                    iframe.onload = function () {
                        console.log('Iframe loaded');
                        $('#loading').hide();
                        $('#exportOptions').show();
                        $('#iframe-container').show();
                    };

                }
            });

            $('#AcademicClassId').change(function () {
                let id = $('#AcademicClassId option:selected').val();
                let sessionId = $('#AcademicSessionId option:selected').val();

                $.ajax({
                    url: "/api/academicsections/getbyclasswithsessionId?classId=" + id + "&sessionId=" + sessionId,
                    dataType: "JSON",
                    type: "POST",
                    cache: false,
                    success: function (data) {
                        $('#AcademicSectionId').empty();

                        if (data != null || data != '') {
                            var o = '<option disabled selected value="">Select Section Name</option>';
                            var o2 = '<option value="">All Section</option>';
                            $('#AcademicSectionId').append(o);
                            $('#AcademicSectionId').append(o2);
                            $.each(data, function (i, obj) {
                                console.log(obj.name);
                                var op = '<option value="' + obj.id + '">' + obj.name + '</option>';
                                $('#AcademicSectionId').append(op);
                            });
                        }
                        else {
                            var o = '<option disabled selected>Section Not Found</option>';
                            $('#AcademicSectionId').append(o);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });

        });

    </script>
}