@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@*<iframe style="border: 0; position:absolute; top:0; left:0; right:0; bottom:0; width:100%; height:100%" src="@Html.Raw(Url.Action("Index", "Reports", new { fileId = Model.FileId, isFile = Model.IsFile}))"></iframe>*@
<div class="row">
    <form asp-action="studentsReport" method="post">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="submit" class="btn btn-danger" name="fileType" value="pdf"><i class="fas fa-file-pdf"></i></button>
            <button type="submit" class="btn btn-success" name="fileType" value="xls"><i class="fas fa-file-excel"></i></button>
            <button type="submit" class="btn btn-primary" name="fileType" value="word"><i class="fas fa-file-word"></i></button>
        </div>
    </form>
</div>
<div class="row">
    @*<iframe src="@Url.Action("ViewPdf")" width="100%" height="700px"></iframe>*@
    

    <object data="@ViewBag.rptFile" type="application/pdf">
        <iframe src="@Url.Action("ViewPdf")" width="800" height="1000"></iframe>
    </object>
</div>