
<form action="/" method="post">
</form>

<div class="row" style="height:600px;">
    <iframe id="myIframe" src="@Url.Action("marksheetReportExport", "Reports", new {reportType="pdf" })" style="width: 100%; height: 100%;"></iframe>
</div>