
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="StudentResult" method="post">
                    <fieldset class="border border-info p-2">
                        <legend class="w-auto text-primary">Mark Sheets Info</legend>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Academic Session</label>
                            <div class="col-sm-9">
                                <select id="aAcademicSession" name="aAcademicSession" asp-items="ViewBag.SessionList" class="form-control">
                                    <option value="" disabled selected>Select Session</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Exam Group</label>
                            <div class="col-sm-9">
                                <select id="aExamGroup" name="aExamGroup" asp-items="ViewBag.ExamGroupList" class="form-control">
                                    <option value="" disabled selected>Select Group</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Academic Class</label>
                            <div class="col-sm-9">
                                <select id="aAcademicClass" name="aAcademicClass" asp-items="ViewBag.ClassList" class="form-control">
                                    <option value="" disabled selected>Select Class</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Academic Section</label>
                            <div class="col-sm-9">
                                <select id="aAcademicSection" name="aAcademicSection" asp-items="ViewBag.SectionList" class="form-control">
                                    <option value="" disabled selected>Select Section</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Students</label>
                            <div class="col-sm-9">
                                <select id="aStudentId" name="aStudent" asp-items="ViewBag.StudentList" class="form-control">
                                    <option value="" disabled selected>Select Student</option>
                                </select>
                            </div>
                        </div>
                        <div class="text-right">
                            <span id="loadReportBtn" class="btn btn-sm btn-info">Load Report</span>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="InvalidForm" style="display:none">
                <div><h2 class="text-danger"> Please Input the field</h2></div>
            </div>
        </div>
    </div>
    <div class="col-md-8" id="iframe-container" style="display:none">
        <div class="row" style="height:600px;">
            <iframe id="myIframe" style="width: 100%; height: 100%;"></iframe>
        </div>
        <div class="row" id="exportOptions" style="display:none">
            <div class="col-md-12 d-flex justify-content-end">
                <form asp-action="MarkSheettReportExport" asp-controller="Reports" method="get">
                    <div class="btn-group btn-sm mr-2 " role="group" aria-label="First group">
                        <input type="hidden" name="fileName" value="Mark_Sheet_@DateTime.Now.ToString("dd_MMM_yyyy")" />
                        <input type="hidden" id="exportSessionId" name="fromDate" />
                        <input type="hidden" id="exportToDate" name="toDate" />
                        <input type="hidden" id="exportExamGroupId" name="examGroupId" />
                        <input type="hidden" id="exportClassId" name="academicClassId" />
                        <input type="hidden" id="exportsectionId" name="sectionId" />
                        <input type="hidden" id="exportStudentId" name="studentId" />
                        <button type="submit" name="reportType" value="pdf" class="btn-sm btn btn-danger" data-toggle="tooltip" title="Export PDF" data-placement="left"><i class="fas fa-file-pdf"></i></button>
                        <button type="submit" name="reportType" value="xls" class="btn-sm btn btn-success" data-toggle="tooltip" title="Export xls" data-placement="top"><i class="fas fa-file-excel"></i></button>
                        <button type="submit" name="reportType" value="word" class="btn-sm btn btn-primary" data-toggle="tooltip" title="Export doc" data-placement="top"><i class="fas fa-file-word"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8 text-center" id="loading" style="display:none">
        <div class="d-flex justify-content-center h-100 align-content-center align-items-center">
            <h2 class="text-danger"><span class="spinner-border" role="status" aria-hidden="true"></span> Please wait while the data is loading...</h2>
        </div>
    </div>
</div>



@section Scripts{
    <script>

        $(document).ready(function () {
            $('#loadReportBtn').click(function () {
                let reportType = 'pdf';
                let aSessionId = '';
                let aClassId = '';
                let aExamGroupId = '';
                let aSectionId = '';
                let aStudentId = '';
                let fileName = '';


                aSessionId = $('#aAcademicSession option:selected').val();
                aClassId = $('#aAcademicClass option:selected').val();
                aExamGroupId = $('#aExamGroup option:selected').val();
                aSectionId = $('#aAcademicSection option:selected').val();
                aStudentId = $('#aStudentId option:selected').val();

                if (aSessionId == '' || aClassId == '' || aExamGroupId == '') {
                    $('#InvalidForm').show();
                    $('#iframe-container').hide();
                    $('#loading').hide();
                }
                else {
                    $('#loading').show();
                    $('#iframe-container').hide();
                    $('#InvalidForm').hide();

                    $('#exportSessionId').attr('value', aSessionId);
                    $('#exportClassId').attr('value', aClassId);
                    $('#exportExamGroupId').attr('value', aExamGroupId);
                    $('#exportsectionId').attr('value', aSectionId);
                    $('#exportStudentId').attr('value', aStudentId);

                    $('#myIframe').attr('src', '/Reports/MarkSheetReportExport?reportType=' + reportType + '&fileName=' + fileName + '&examGroupId=' + aExamGroupId + '&academicClassId=' + aClassId + '&sectionId=' + aSectionId + '&sessionId=' + aSessionId +'&studentId=' + aStudentId);

                    var iframe = document.getElementById('myIframe');
                    // Attach a load event handler to the iframe
                    iframe.onload = function () {
                        $('#loading').hide();
                        $('#exportOptions').show();
                        $('#iframe-container').show();
                    };

                }
            });
        });

        $('#aAcademicClass').change(function () {
            let id = $('#aAcademicClass option:selected').val();
            let sessionId = $('#aAcademicSession option:selected').val();
            $.ajax({
                url: "/api/academicsections/getbyclasswithsessionId?classId=" + id + "&sessionId=" + sessionId,
                dataType: "JSON",
                type: "POST",
                cache: false,
                success: function (data) {
                    $('#aAcademicSection').empty();
                    $('#aStudentId').empty();
                    if (data != null || data != '') {
                        var o = '<option disabled selected value="">Select Section Name</option>';
                        var o2 = '<option value="">All Section</option>';
                        $('#aAcademicSection').append(o);
                        $('#aAcademicSection').append(o2);
                        $.each(data, function (i, obj) {
                            var op = '<option value="' + obj.id + '">' + obj.name + '</option>';
                            $('#aAcademicSection').append(op);
                        });
                    }
                    else {
                        var o = '<option disabled selected>Section Not Found</option>';
                        $('#aAcademicSection').append(o);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
            let sectionId = $('#aAcademicSection option:selected').val();
            loadStudentListDropdown(sessionId, id, sectionId);
        });

        $('#aAcademicSection').change(function () {
            let sessionId = $('#aAcademicSession option:selected').val();
            let id = $('#aAcademicClass option:selected').val();
            let sectionId = $('#aAcademicSection option:selected').val();
            loadStudentListDropdown(sessionId, id, sectionId);
        });

        function loadStudentListDropdown(sessionId, classId, sectionId)
        {
            $.ajax({
                url: "/students/GetStudentsBySessionIdClassIdSectionId?academicSessionId=" + sessionId + "&academicClassId=" + classId + "&academicSectionId=" + sectionId,
                dataType: "JSON",
                type: "POST",
                cache: false,
                success: function (data) {
                    $('#aStudentId').empty();
                    if (data != null || data != '') {
                        var o = '<option disabled selected value="">Select Student</option>';
                        var o2 = '<option value="">All Student</option>';
                        $('#aStudentId').append(o);
                        $('#aStudentId').append(o2);
                        $.each(data, function (i, obj) {
                            var op = '<option value="' + obj.id + '">' +obj.classRoll+"-"+ obj.name + '</option>';
                            $('#aStudentId').append(op);
                        });
                    }
                    else {
                        var o = '<option disabled selected>Student Not Found</option>';
                        $('#aStudentId').append(o);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        };
    </script>
}