@model SMS.App.ViewModels.QuestionBank.QuestionEditVM

@{
    ViewData["Title"] = "Question Edit";
    GlobalUI.PageTitle = ViewBag.Title;
    int qSl = 0;
}



<div class="row">
    <div class="col-md-12">
        <form id="questionEditForm" asp-action="Edit" method="post" enctype="multipart/form-data" >
            <input type="hidden" asp-for="Id"  />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row pb-2">
                        <label asp-for="AcademicClassId" class="col-2 col-md-4 text-md-right col-form-label bg-lightgray">Class</label>
                        <div class="col-md-8 col-10">
                            <select asp-for="AcademicClassId" class="form-control" asp-items="ViewBag.AcademicClassId">
                                <option disabled selected>Select Class</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row pb-2">
                        <label asp-for="AcademicSubjectId" class="col-2 col-md-4 text-md-right col-form-label bg-lightgray">Subject</label>
                        <div class="col-md-8 col-10">
                            <select asp-for="AcademicSubjectId" class="form-control" asp-items="ViewBag.AcademicSubjectId">
                                <option disabled selected>Select Class First</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row pb-2">
                        <label asp-for="ChapterId" class="col-2 col-md-4 text-md-right col-form-label bg-lightgray">Chapter</label>
                        <div class="col-md-8 col-10">
                            <select asp-for="ChapterId" class="form-control" asp-items="ViewBag.ChapterId" required>
                                <option disabled selected>Select Subject First</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <textarea asp-for="Uddipok" class="form-control" rows="5" placeholder="Write your uddipok here"></textarea>
                        </div>
                    </div>
                    <div class="form-group row pt-2">
                        <div class="col-md-6 col-12 pb-2 pb-md-0 pb-lg-0">
                            <input type="file" asp-for="Image" />
                        </div>

                        
                        <div class="col-md-4 col-10">
                            @if (Model.ImageUrl != null)
                            {
                                <div id="imageHolderDiv">
                                    <img id="blah" src="~/Images/Question/@Model.ImageUrl" alt="Image" style="width:100%;" />
                                </div>
                            }
                            <select asp-for="ImagePosition" class="form-control form-control-sm">
                                <option value="" disabled selected>Select Image Position</option>
                                <option value="Top">Top</option>
                                <option value="Bottom">Bottom</option>
                                <option value="Center">Center</option>
                            </select>
                            <span asp-validation-for="ImagePosition" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" id="qDetailsDivId">
                    @foreach (var item in Model.QuestionDetails)
                    {
                        <input type="hidden" name="QuestionDetails[@qSl].Id" value="@item.Id" />
                        <div class="form-group row pb-2">
                            <label asp-for="@item.QuestionText" class="form-label col-md-2 col-2 text-md-right col-form-label bg-lightgray">Q(@(qSl+1))</label>
                            <div class="col-md-10 col-10">
                                <input name="QuestionDetails[@qSl].QuestionText" class="form-control" value="@item.QuestionText" required />
                            </div>
                        </div>
                        qSl++;
                    }
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="col-md-6 text-md-left">
                        <a asp-action="AllQuestion" asp-controller="QuestionBanks" class="btn btn-info btn-sm"><i class="fa fa-backward"></i> Back to List</a>
                    </div>
                    <div class="col-md-6 text-md-right">
                        <input type="submit" value="Update" class="btn btn-primary btn-sm" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{ 
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("#Image").change(function () {
            readURL(this);
        });
    </script>
}