

@{

    ViewData["Title"] = "Question Bank";
    GlobalUI.PageTitle = ViewBag.Title;
}

@section Styles{
    <style>
        .errors
        {
            color: red;
        }
    </style>
}
<div class="sticky-top text-right">
    <a asp-action="AllQuestion" asp-controller="QuestionBanks" class="btn btn-sm btn-info">
        All Questions
    </a>
    <button type="button" class="btn-sm btn-info" data-toggle="modal" data-target="#makeQuestion">
        <i class="fa fa-plus" data-toggle="tooltip" data-placement="top" title="Make Question"> Make Question</i>
    </button>
    <button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        <i class="fa fa-plus" data-toggle="tooltip" data-placement="top" title="Add New Question"> Add</i>
    </button>
</div>
<div id="questionCreateDivId" class="p-1" >
    @await Component.InvokeAsync("QuestionCreate")
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header"> Question </div>
            <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header"> Chapter </div>
            <div class="card-body">
                <h5 class="card-title">Secondary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

    </div>
</div>


@section Scripts {    

    <script src="~/lib/Alertify/alertify.min.js"></script>
    <script src="~/js/Accessories/questionCreate.js"></script>

}
