

@{

    ViewData["Title"] = "Question Bank";
    GlobalUI.PageTitle = ViewBag.Title;
}

@section Styles{
    <style>
        .errors
        {
            color: red;
        }
    </style>
}
<div class="sticky-top text-right">
    <button id="createFormSwitchButtonId" class="btn btn-outline-info" onclick="showCreateForm();"><i class="fa fa-plus"></i>  </button>
</div>
<div id="questionCreateDivId" class="p-2" style="position:fixed;background-color:aliceblue;left:25%;z-index:999; display:none">
    @await Component.InvokeAsync("QuestionCreate")
</div>
<div class="row">
    <div class="col-md-12 text-md-right">
        <a asp-action="AllQuestion" asp-controller="QuestionBanks" class="btn btn-info">
            All Questions
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header"> Question </div>
            <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header"> Chapter </div>
            <div class="card-body">
                <h5 class="card-title">Secondary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

    </div>
</div>


@section Scripts {    

    <script src="~/lib/Alertify/alertify.min.js"></script>
    <script src="~/js/Accessories/questionCreate.js"></script>

}
