@model IEnumerable<SMS.App.ViewModels.ExamVM.ExamResultVM>

@{
    ViewData["Title"] = "Exam Result List";
    GlobalUI.PageTitle = ViewData["Title"].ToString();
}

<div class="row">
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="col-md-3 card m-2">
                <div class="card-header bg-info text-light"><h5>@item.ExamName</h5></div>
            </div>
        }
    }
</div>
