
@using System.Globalization
@{
    GlobalUI.SiteTitle = GlobalUI.PageTitle;
}
<div class="row">
    <div class="col-md-12">
        <div class="well text-center">
            <h4 class="text-danger">Page is under construction</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <fieldset class="border border-info p-2">
            <legend class="w-auto text-primary">Search Exam for Result</legend>
            <form asp-action="" asp-controller="" method="post">
                @*<div class="form-group row">
                        <label class="col-md-3 col-form-label">Search Exam</label>
                        <div class="col-md-9">
                            <select class="form-control">
                                <option selected disabled>-Select Exam Category-</option>
                                <option value="subjectWiseResult">Subject-Wise Result</option>
                                <option value="classWiseResult">Class-Wise Result</option>
                                <option value="studentWiseResult">Student-Wise Result</option>
                            </select>
                        </div>
                    </div>*@

                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Exam Type</label>
                    <div class="col-md-8">
                        <select id="examTypeId" asp-items="ViewBag.ExamType" class="form-control" onchange="getExamGroup()">
                            <option selected disabled>-Select Exam Type-</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Month</label>
                    <div class="col-md-8">
                        <select id="monthId" name="monthId" class="form-control" onchange="getExamGroup()">
                            <option disabled>--Select Month--</option>
                            @for (int i = 1; i <= 12; i++)
                            {
                                <option value="@i">@DateTimeFormatInfo.CurrentInfo.GetMonthName(i)</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Exam Group</label>
                    <div class="col-md-8">
                        <select class="form-control" id="examGroupId" onchange="getExamList()">
                            <option selected disabled>-Select Exam Group-</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Academic Class</label>
                    <div class="col-md-8">
                        <select asp-items="ViewBag.ClassList" class="form-control" id="academicClassId" onchange="getExamList()">
                            <option value="value">-Select Class-</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Academic Section</label>
                    <div class="col-md-8">
                        <select class="form-control">
                            <option value="value">-Select Section-</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Exam/Subject Name</label>
                    <div class="col-md-8">
                        <select class="form-control" id="academicSubjectId">
                            <option selected disabled>-Select Subject-</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12 text-md-right">
                        <span class="btn btn-info btn-sm" id="LoadButton">Show Result</span>
                    </div>
                </div>
            </form>
        </fieldset>

        <div class="row">
            <div class="col-md-12" id="InvalidForm" style="display:none">
                <div><h2 class="text-danger"> Please Select all the field</h2></div>
            </div>
        </div>
    </div>
    <div class="col-md-9" id="iframe-container" style="display:none">
        <div class="row" style="height:600px;">
            <iframe id="myIframe" style="width: 100%; height: 100%;"></iframe>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-end">
                <form asp-controller="Reports" asp-action="SubjectWiseMarkSheet" method="get">
                    <input type="hidden" id="exportExamId" name="examId" />
                    <div class="btn-group btn-sm mr-2 " role="group" aria-label="First group">
                        <input type="hidden" name="fileName" value="Subject wise mark sheet" />
                        <button type="submit" name="reportType" value="pdf" class="btn-sm btn btn-danger" data-toggle="tooltip" title="Export PDF" data-placement="left"><i class="fas fa-file-pdf"></i></button>
                        <button type="submit" name="reportType" value="xls" class="btn-sm btn btn-success" data-toggle="tooltip" title="Export xls" data-placement="top"><i class="fas fa-file-excel"></i></button>
                        <button type="submit" name="reportType" value="word" class="btn-sm btn btn-primary" data-toggle="tooltip" title="Export doc" data-placement="top"><i class="fas fa-file-word"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-9 text-center" id="loading" style="display:none">
        <div class="d-flex justify-content-center h-100 align-content-center align-items-center">
            <h2 class="text-danger"><span class="spinner-border" role="status" aria-hidden="true"></span> Please wait while the data is loading...</h2>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#LoadButton').click(function () {
                let reportType = 'pdf';
                let examGroupId = '0';
                let classId = '0';

                examGroupId = $('#examGroupId option:selected').val();
                classId = $('#academicClassId option:selected').val();

                $('#exportExamId').attr('value', examGroupId);

                $('#myIframe').attr('src', '/Reports/StudentWiseMarkSheet?reportType=' + reportType + '&&examGroupId=' + examGroupId + '&&classId=' + classId);
                $('#iframe-container').show();

                var iframe = document.getElementById('myIframe');
                $('#loading').show();
                $('#InvalidForm').hide();
                $('#exportOptions').hide();
                $('#iframe-container').hide();
                // Attach a load event handler to the iframe
                iframe.onload = function () {
                    console.log('Iframe loaded');
                    $('#loading').hide();
                    $('#exportOptions').show();
                    $('#iframe-container').show();
                };

                //}
            });
        });

        function getExamGroup() {
            var monthId = document.getElementById("monthId").value;
            var examTypeId = document.getElementById("examTypeId").value;

            // Make the AJAX request to fetch the data
            fetch(`/AcademicExamGroup/getExamGroups?monthId=${monthId}&examTypeId=${examTypeId}`)
                .then((response) => response.json())
                .then((data) => {
                    // Clear the examGroupId dropdown
                    var examGroupIdDropdown = document.getElementById("examGroupId");
                    examGroupIdDropdown.innerHTML = "";

                    // Populate the examGroupId dropdown with the fetched data
                    data.forEach((examGroup) => {
                        var option = document.createElement("option");
                        option.value = examGroup.id;
                        option.textContent = examGroup.examGroupName;
                        examGroupId.appendChild(option);
                    });
                })
                .catch((error) => {
                    console.error("Error fetching data:", error);
                });
        }

        // Add event listeners to monthId and examTypeId dropdowns
        document.getElementById("monthId").addEventListener("change", getExamGroup);
        document.getElementById("examTypeId").addEventListener("change", getExamGroup);

        // Initial population of examGroupId dropdown based on the default selected values of monthId and examTypeId
        getExamGroup();

        function getExamList() {
            var examGroupId = document.getElementById('examGroupId').value;
            var classId = document.getElementById('academicClassId').value;
            var subjectOption = document.getElementById('academicSubjectId');
            subjectOption.innerHTML = "";
            fetch(`/AcademicExams/GetExamsByGrIdAndClassId?examGroupId=${examGroupId}&academicClassId=${classId}`)
                .then((response) => response.json())
                .then((data) => {
                    data.forEach((exam) => {
                        var option = document.createElement('option');
                        option.value = exam.id;
                        option.textContent = exam.academicSubject.subjectName;
                        subjectOption.appendChild(option);
                    });
                })
        }

    </script>
}