@model SMS.App.ViewModels.StudentPaymentVM

@{
    ViewData["Title"] = "Student Payment";
    GlobalUI.PageTitle = "Student Payment";
}
<div class="row pt-3 pb-2 bg-navy-blue">
    <div class="col-md-12 text-center">
        <form id="frmSearchByRollId" asp-action="Payment" asp-controller="StudentPayments" class="" method="get">
            <div class="row">
                <div class="col-md-4 offset-md-3">
                    <div class="input-group mb-3">
                        @if (ViewBag.roll != null)
                        {
                            <input id="rollInput" class="form-control" name="stRoll" value="@ViewBag.roll" />
                        }
                        else
                        {
                            <input id="rollInput" placeholder="Input Student Roll Number" class="form-control" name="stRoll" />
                        }
                        @*<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">*@
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-info rounded" type="submit"><i class="fas fa-search"></i> Go</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-md-left">
                    <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#exampleModal">
                        Select
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
            <div class="modal-header text-center">
                <h4 class="text-center">Select Student</h4>
            </div>
            <div class="modal-body">
                <form action="/" method="post">
                    <div class="form-group row">
                        <label class="col-md-4 text-md-right col-form-label">Academic Class</label>
                        <div class="col-md-8">
                            <select class="form-control" asp-items="ViewBag.AcademicClassList" id="modalAcademicClassId">
                                <option selected disabled>-Select Class-</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 text-md-right col-form-label">Student</label>
                        <div class="col-md-8">
                            <select class="form-control" id="studentListId">
                                <option selected disabled>-Select Student-</option>
                            </select>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(ViewBag.msg))
{
    <div class="row mt-3" id="msgId">
        <div class="col-md-12 text-center">
            <h6 class="alert alert-warning">@ViewBag.msg</h6>

        </div>
    </div>

}
@section Scripts {

    <script src="~/js/AlertifyNotify/AlertifyNofify.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
        let created = '@TempData["created"]';

        $(document).ready(function () {
            $('#msgId').fadeOut(6000);

         

        });</script>
    <script src="~/js/StudentPayments/Payment.js"></script>
    
}