@using System.Collections.Specialized


@{
    ListDictionary months = new ListDictionary();
    months.Add(1, "January");
    months.Add(2, "February");
    months.Add(3, "March");
    months.Add(4, "April");
    months.Add(5, "May");
    months.Add(6, "Jun");
    months.Add(7, "July");
    months.Add(8, "August");
    months.Add(9, "September");
    months.Add(10, "October");
    months.Add(11, "November");
    months.Add(12, "December");
}
<div class="row">
    <ul class="list-group">
        @foreach (var item in months.Values)
        {
            <li class="list-group-item">
                <div class="form-check ">
                    <input class="form-check-input col-form-label" type="checkbox" value="" id="checkbox_@item">
                    <label class="p-1 form-check-label" for="checkbox_@item">
                        @item
                    </label>
                </div>
            </li>
        }
    </ul>
</div>