@model SMS.Entities.Attendance

@{
    ViewData["Title"] = "Create New Attendance";
    GlobalUI.PageTitle = ViewBag.Title;
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="CardNo" class="control-label col-form-label text-md-right col-md-3"></label>
                <div class="col-md-9">
                    <input asp-for="CardNo" class="form-control" />
                    <span asp-validation-for="CardNo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="PunchDatetime" class="control-label col-form-label text-md-right col-md-3"></label>
                <div class="col-md-9">
                    <input asp-for="PunchDatetime" class="form-control" />
                    <span asp-validation-for="PunchDatetime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="StartingTime" class="control-label col-form-label text-md-right col-md-3"></label>
                <div class="col-md-9">
                    <input asp-for="StartingTime" class="form-control" />
                    <span asp-validation-for="StartingTime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ClosingTime" class="control-label col-form-label text-md-right col-md-3"></label>
                <div class="col-md-9">
                    <input asp-for="ClosingTime" class="form-control" />
                    <span asp-validation-for="ClosingTime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="LateTime" class="control-label col-form-label text-md-right col-md-3"></label>
                <div class="col-md-9">
                    <input asp-for="LateTime" class="form-control" />
                    <span asp-validation-for="LateTime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="MachineNo" class="control-label col-form-label text-md-right col-md-3"></label>
                <div class="col-md-9">
                    <input asp-for="MachineNo" class="form-control" />
                    <span asp-validation-for="MachineNo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ApplicationUserId" class="control-label col-form-label text-md-right col-md-3"></label>
                <div class="col-md-9">
                    <select asp-for="ApplicationUserId" asp-items="ViewBag.UserList" class="form-control">
                        <option selected disabled>Select user</option>
                    </select>
                    <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-md-3 col-md-5">
                    <partial name="_Create_Back" />
                </div>
                @*<input type="submit" value="Create" class="btn btn-primary" />*@
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
