@model SMS.Entities.Attendance

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Attendance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CardNo" class="control-label"></label>
                <input asp-for="CardNo" class="form-control" />
                <span asp-validation-for="CardNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PunchDatetime" class="control-label"></label>
                <input asp-for="PunchDatetime" class="form-control" />
                <span asp-validation-for="PunchDatetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartingTime" class="control-label"></label>
                <input asp-for="StartingTime" class="form-control" />
                <span asp-validation-for="StartingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingTime" class="control-label"></label>
                <input asp-for="ClosingTime" class="form-control" />
                <span asp-validation-for="ClosingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LateStartAfter" class="control-label"></label>
                <input asp-for="LateStartAfter" class="form-control" />
                <span asp-validation-for="LateStartAfter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineNo" class="control-label"></label>
                <input asp-for="MachineNo" class="form-control" />
                <span asp-validation-for="MachineNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditedBy" class="control-label"></label>
                <input asp-for="EditedBy" class="form-control" />
                <span asp-validation-for="EditedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditedAt" class="control-label"></label>
                <input asp-for="EditedAt" class="form-control" />
                <span asp-validation-for="EditedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
