@model SMS.Entities.Attendance

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Attendance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AttendanceDate" class="control-label"></label>
                <input asp-for="AttendanceDate" class="form-control" />
                <span asp-validation-for="AttendanceDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPresent" /> @Html.DisplayNameFor(model => model.IsPresent)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="InTime" class="control-label"></label>
                <input asp-for="InTime" class="form-control" />
                <span asp-validation-for="InTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutTime" class="control-label"></label>
                <input asp-for="OutTime" class="form-control" />
                <span asp-validation-for="OutTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserId" class="control-label"></label>
                <select asp-for="ApplicationUserId" class="form-control" asp-items="ViewBag.ApplicationUserId"></select>
                <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditedBy" class="control-label"></label>
                <input asp-for="EditedBy" class="form-control" />
                <span asp-validation-for="EditedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditedAt" class="control-label"></label>
                <input asp-for="EditedAt" class="form-control" />
                <span asp-validation-for="EditedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

