@model SchoolManagementSystem.Models.Gender

@{
    ViewData["Title"] = "Add Gender";
    GlobalUI.PageTitle = ViewBag.Title;
}

<div class="row">
    <div class="col-md-8 offset-2 shadow p-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Name" class="control-label col-form-label text-right col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    @if (ViewBag.msg!=null)
                    {
                        <span class="alert-danger" id="msg">@ViewBag.msg</span>
                    }
                </div>
            </div>
            <div class="form-group form-check offset-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
           
            <div class="form-group row">
                <div class="col-md-12 text-center">
                    <partial name="_Create_Back" />
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
