@model SchoolManagementSystem.Models.AcademicClass

@{
    ViewData["Title"] = "Create Academic Class";
    GlobalUI.PageTitle = ViewBag.Title;
}

<div class="row">
    <div class="col-md-10 offset-1 shadow">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Name" class="text-right col-md-2 control-label col-form-label"></label>
                <div class="col-md-4">
                    <input asp-for="Name" class="form-control" placeholder="Ex: Class 6 (Six)" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <label asp-for="AcademicSessionId" class="col-md-2 text-right control-label col-form-label"></label>
                <div class="col-md-4">
                    <select asp-for="AcademicSessionId" class="form-control" asp-items="ViewBag.AcademicSessionId">
                        <option disabled selected>Select Academic Session</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Description" class="col-md-2 col-form-label text-right control-label"></label>
                <div class="col-md-4">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <label asp-for="ClassSerial" class="col-md-2 col-form-label text-right control-label"></label>
                <div class="col-md-4">
                    <input asp-for="ClassSerial" class="form-control" placeholder="1/2/3/..../12" />
                    <span asp-validation-for="ClassSerial" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row form-check">
                <label class="form-check-label offset-2">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>

            <div class="form-group row offset-2">
                <div class="col-md-12 text-center">
                    <partial name="_Create_Back" />
                    @if (ViewBag.msg != null)
                    {
                        <p id="warningMsg" class="text-danger">@ViewBag.msg</p>
                    }
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        $('#warningMsg').fadeOut(6000);
    });
</script>
}
