@model SchoolManagementSystem.Models.AcademicClass

@{
    ViewData["Title"] = "Edit Academic Class";
    GlobalUI.PageTitle = ViewBag.Title;
}
<h4>Edit Academic Class</h4>
<hr />
<div class="row">
    <div class="col-md-10 offset-1 shadow">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <label asp-for="Name" class="control-label col-md-2 col-form-label text-right"></label>
                <div class="col-md-4">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Description" class="control-label text-right col-form-label col-md-2 "></label>
                <div class="col-md-4">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <label asp-for="ClassSerial" class="control-label text-right col-form-label col-md-2 "></label>
                <div class="col-md-4">
                    <input asp-for="ClassSerial" class="form-control" placeholder="1-12" />
                    <span asp-validation-for="ClassSerial" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group form-check row">
                <label class="form-check-label offset-2">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>

            <div class="form-group row">
                <div class="col-md-12 text-center">
                    <partial name="_Update_Back" model="@Model.Id" />

                    @if (ViewBag.msg != null)
                    {
                        <p id="warningMsg" class="text-danger">@ViewBag.msg</p>
                    }
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
<script>
    $(document).ready(function () {
        $('#warningMsg').fadeOut(6000);
    });
</script>
}
