@model SMS.App.ViewModels.QuestionBank.QuestionVM
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create Question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid" >
                        @*<div class="row">
                            <button id="divCloseButton" onclick="hideCreateForm()">x</button>
                        </div>*@
                        <div class="row">
                            <div class="col-md-12">
                                <form id="questionCreateForm" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row pb-2">
                                                <label asp-for="QCreateVM.AcademicClassId" class="col-2 col-md-4 text-md-right col-form-label bg-lightgray">Class</label>
                                                <div class="col-md-8 col-10">
                                                    <select asp-for="QCreateVM.AcademicClassId" class="form-control" asp-items="ViewBag.AcademicClassId">
                                                        <option disabled selected>Select Class</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row pb-2">
                                                <label asp-for="QCreateVM.AcademicSubjectId" class="col-2 col-md-4 text-md-right col-form-label bg-lightgray">Subject</label>
                                                <div class="col-md-8 col-10">
                                                    <select asp-for="QCreateVM.AcademicSubjectId" class="form-control">
                                                        <option disabled selected>Select Class First</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row pb-2">
                                                <label asp-for="QCreateVM.ChapterId" class="col-2 col-md-4 text-md-right col-form-label bg-lightgray">Chapter</label>
                                                <div class="col-md-8 col-10">
                                                    <select asp-for="QCreateVM.ChapterId" class="form-control" required>
                                                        <option disabled selected>Select Subject First</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <textarea asp-for="QCreateVM.Uddipok" class="form-control" rows="5" placeholder="Write your uddipok here"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row pt-2">
                                                <div class="col-md-6 col-12 pb-2 pb-md-0 pb-lg-0">
                                                    <input asp-for="QCreateVM.Image" />
                                                </div>

                                                <label asp-for="QCreateVM.ImagePosition" class="control-label col-form-label col-2 col-md-2 text-md-right"></label>
                                                <div class="col-md-4 col-10">
                                                    <select asp-for="QCreateVM.ImagePosition" class="form-control form-control-sm">
                                                        <option value="" disabled selected>Select Position</option>
                                                        <option value="Top">Top</option>
                                                        <option value="Bottom">Bottom</option>
                                                        <option value="Center">Center</option>
                                                    </select>
                                                    <span asp-validation-for="QCreateVM.ImagePosition" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12" id="qDetailsDivId">
                                            @*@for (int i = 0; i < 4; i++)
                                            {
                                                <div class="form-group row pb-2">
                                                    <label asp-for="QCreateVM.QuestionDetails[i].QuestionText" class="form-label col-md-2 col-2 text-md-right col-form-label bg-lightgray">Q. @(i+1)</label>
                                                    <div class="col-md-10 col-10">
                                                        <input asp-for="QCreateVM.QuestionDetails[i].QuestionText" class="form-control" required />
                                                    </div>
                                                </div>
                                            }*@
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <div class="col-md-12">

                                            @*<div class="col-md-6 text-md-left">
                                                <a class="btn btn-info" asp-action="Index">Back to List</a>
                                            </div>*@
                                            <div class="col-md-6 text-md-right">
                                                <span class="btn btn-warning">Clear</span>
                                                <input type="submit" value="Create" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>