@model Models.AcademicSession

@{
    ViewData["Title"] = "Create Academic Session";
    GlobalUI.PageTitle = ViewBag.Title;
}

<div class="row">
    <div class="col-md-10 offset-1 shadow">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row pt-2">
                <label asp-for="Name" class="control-label col-md-2 col-form-label text-right">Session Name</label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" placeholder="Ex: 2020-2021" />
                    @if (ViewBag.msg != null)
                    {
                        <h5 id="msgTextId" class="alert alert-warning">@ViewBag.msg</h5>
                    }
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group form-check row">                
                <label class="form-check-label offset-2">                    
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            
            <div class="form-group row offset-2">
                <div class="col-md-12 text-center">
                    <partial name="_Create_Back" />
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        $('#msgTextId').fadeOut(6000);
    });
</script>
}
