@model SMS.Entities.ClassFeeList

@{
    ViewData["Title"] = "Add Fee List";
    GlobalUI.PageTitle = "Add new Fee List of Class";
}

<div class="row">
    <div class="col-md-10 offset-1 shadow-lg p-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="StudentFeeHeadId" class="col-md-2 text-md-right col-form-label control-label"></label>
                <div class="col-md-10">
                    <select asp-for="StudentFeeHeadId" class="form-control" asp-items="ViewBag.StudentFeeHeadId">
                        <option disabled selected>Select Fee Head</option>
                    </select>

                    <span asp-validation-for="StudentFeeHeadId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="AcademicSessionId" class="col-md-2 text-md-right col-form-label control-label"></label>
                <div class="col-md-8">
                    <select asp-for="AcademicSessionId" class="form-control" asp-items="ViewBag.AcademicSessionId">
                        <option disabled selected>Select Session</option>
                    </select>
                    <span asp-validation-for="AcademicSessionId"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="AcademicClassId" class="col-md-2 text-md-right col-form-label control-label"></label>
                <div class="col-md-6">
                    <select asp-for="AcademicClassId" class="form-control" asp-items="ViewBag.AcademicClassId" disabled>
                        <option disabled selected value="0">Select Session First</option>
                    </select>
                    <span asp-validation-for="AcademicClassId"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Amount" class="col-md-2 text-md-right col-form-label control-label"></label>
                <div class="col-md-4">
                    <input asp-for="Amount" class="form-control" placeholder="Ex: 500" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group text-center">
                <partial name="_Create_Back" />
            </div>
        </form>
    </div>
</div>
<div class="row" id="warningMsg">
    @if (ViewBag.msg != null)
    {
        <div class="col-md-12 text-center">
            <h5 class="alert alert-warning">@ViewBag.msg</h5>
        </div>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/StudentFeeLists/Create.js"></script>
    @if (TempData["crateFail"] != null)
    {
        <script src="~/js/AlertifyNotify/warningCreateNotify.js"></script>
    }
    <script>
        $(document).ready(function () {
            $('#AcademicSessionId').change(function () {
                let val = $('#AcademicSessionId option:selected').val();
                if (val > 0) {
                    $('#AcademicClassId').prop('disabled', false);
                    $('#AcademicClassId').find('[value="0"]').remove();
                    let op = '<option selected disabled value="0">Select Class</option>';
                    $('#AcademicClassId').append(op);
                }
                else {
                    $('#AcademicClassId').prop('disabled', true);
                    $('#AcademicClassId').find('[value="0"]').remove();
                    let op = '<option selected disabled value="0">Select Session First</option>';
                    $('#AcademicClassId').append(op);
                }
            });
        });
    </script>
}
