@model SMS.Entities.ClassFeeList

@{
    ViewData["Title"] = "Edit Fee List";
    GlobalUI.PageTitle = "Class Fee List Edit";
}

<div class="row">
    <div class="col-md-10 offset-1 shadow-lg p-2">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <label asp-for="StudentFeeHeadId" class="col-md-2 text-md-right col-form-label control-label"></label>
                <div class="col-md-10">
                    <input asp-for="StudentFeeHeadId" class="form-control" readonly />
                    <span asp-validation-for="StudentFeeHeadId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="AcademicSessionId" class="col-md-2 text-md-right col-form-label control-label"></label>
                <div class="col-md-8">
                    <select asp-for="AcademicSessionId" class="form-control" asp-items="ViewBag.AcademicSessionId">
                        <option disabled selected value="0">Select Session</option>
                    </select>
                    <span asp-validation-for="AcademicSessionId"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="AcademicClassId" class="col-md-2 text-md-right col-form-label control-label"></label>
                <div class="col-md-6">
                    <select asp-for="AcademicClassId" class="form-control" asp-items="ViewBag.AcademicClassId">
                        
                    </select>
                    <span asp-validation-for="AcademicClassId"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Amount" class="col-md-2 text-md-right col-form-label control-label"></label>
                <div class="col-md-4">
                    <input asp-for="Amount" class="form-control" placeholder="Ex: Monthly Fee" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>


            </div>
            <div class="form-group">
                <div class="offset-md-2">
                    <input type="submit" value="Update" class="btn btn-primary" />
                    <a class="btn btn-info" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @if (TempData["editFail"] != null)
    {
        <script src="~/js/AlertifyNotify/warningUpdateFailNotify.js"></script>
    }
    <script>
        $(document).ready(function () {
            $('#AcademicSessionId').change(function () {
                let val = $('#AcademicSessionId option:selected').val();
                if (val > 0) {
                    $('#AcademicClassId').prop('disabled', false);
                    $('#AcademicClassId').find('[value="0"]').remove();
                    let op = '<option selected disabled value="0">Select Class</option>';
                    $('#AcademicClassId').append(op);
                }
                else {
                    $('#AcademicClassId').prop('disabled', true);
                    $('#AcademicClassId').find('[value="0"]').remove();
                    let op = '<option selected disabled value="0">Select Session First</option>';
                    $('#AcademicClassId').append(op);
                }
            });
        });
    </script>
}
