@model SMS.Entities.Student
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<div class="card">
    <table>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td>@Model.Name</td>
        </tr>
    </table>
</div>