@model SMS.Entities.AcademicSubject

@{
    ViewData["Title"] = "Edit Subject";
    GlobalUI.PageTitle = "Edit Academic Subject (" + Model.SubjectName + ")";
}

<div class="row">
    <div class="col-md-6 offset-md-3 p-2">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group row">
                <label asp-for="SubjectName" class="control-label col-form-label col-md-2 text-md-right "></label>
                <div class="col-md-10">
                    <input asp-for="SubjectName" class="form-control rounded" />
                    <span asp-validation-for="SubjectName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="AcademicSubjectTypeId" class="control-label col-form-label col-md-2 text-md-right  "></label>
                <div class="col-md-10">
                    <select asp-for="AcademicSubjectTypeId" class="form-control rounded" asp-items="ViewBag.AcademicSubjectTypeId">
                        <option selected disabled>Select Subject Type</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="SubjectFor" class="control-label  col-form-label col-md-2 text-md-right"></label>
                <div class="col-md-10">
                    <input asp-for="SubjectFor" class="form-control rounded" placeholder="please Input C for College & S for School" />
                    <span asp-validation-for="SubjectFor" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="TotalMarks" class="control-label col-form-label col-md-2 text-md-right"></label>
                <div class="col-md-10">
                    <input asp-for="TotalMarks" class="form-control" />
                    <span asp-validation-for="TotalMarks" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-md-2 col-md-10">
                    <label class="">
                        <input class="" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                    </label>
                </div>
            </div>


            <div class="form-group row">
                <div class="offset-md-2 col-md-10">
                    <partial name="_Update_Back" model="@Model.Id" />

                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
