@model SMS.Entities.StudentFeeHead

@{
    ViewData["Title"] = "Create Fee Head";
    GlobalUI.PageTitle = "Create Student Fee Head";
}

<div class="row">
    <div class="col-md-10 offset-1 shadow-lg p-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Name" class="control-label col-md-2 col-form-label text-md-right">
                    Fee Head Name
                </label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" placeholder="Ex: Monthly Fee"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group form-check offset-md-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Repeatedly" /> @Html.DisplayNameFor(model => model.Repeatedly)
                </label>
            </div>
            <div class="form-group text-center">
                <partial name="_Create_Back"/>
            </div>
        </form>
    </div>
</div>
<div class="row mt-3">
    @if (ViewBag.msg != null)
    {
        <div class="col-md-10 offset-1 text-center">
            <h6 id="msg" class="text-danger">@ViewBag.msg</h6>
        </div>
    }
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @if (TempData["crateFail"] !=null)
    {
        <script src="~/js/AlertifyNotify/warningCreateNotify.js"></script>
    }
<script src="~/js/Accessories/FadeOut.js"></script>
}
