@model SMS.Entities.Designation

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-8 offset-2 shadow">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <label asp-for="DesignationName" class="control-label col-form-label col-md-2 text-right"></label>
                <div class="col-md-10">
                    <input asp-for="DesignationName" class="form-control" />
                    <span asp-validation-for="DesignationName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="DesignationTypeId" class="control-label col-form-label col-md-2 text-right"></label>
                <div class="col-md-10">
                    <select asp-for="DesignationTypeId" asp-items="@ViewBag.DesignationTypeList" class="form-control">
                        <option selected disabled>Select Type</option>
                    </select>
                    <span asp-validation-for="DesignationTypeId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row offset-2">
                <div class="col-md-12 text-center">
                    <partial name="_Update_Back" model="@Model.Id" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
