@model StudentFeeAllocation
@{ 
    GlobalUI.PageTitle = "Create Student Fee Allocation";
}
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post">
            <fieldset>
                <legend>Create New Fee Allocation</legend>

            </fieldset>
        </form>
    </div>
</div>