
<input type="submit" value="Delete" class="btn btn-sm btn-danger rounded-1" />
    <a asp-action="Index" class="btn btn-purple btn-sm rounded-1" data-toggle="tooltip" data-placement="top" title="List"><i class="fa fa-list"></i></a>
