@model int

<button class="btn btn-sm btn-warning rounded-1 mr-2" type="submit" value="Update" data-toggle="tooltip" data-placement="bottom" title="Update"><i class="fa fa-edit"></i></button>
<a asp-action="Index" class="btn btn-info btn-sm rounded-1" data-toggle="tooltip" data-placement="right" title="List"><i class="fa fa-list"></i></a>
