@model SMS.App.ViewModels.SetupVM.AttendanceSetupVM


@{
    ViewData["Title"] = "SMS Setup";
    GlobalUI.PageTitle = ViewBag.Title;
}
@section Styles{
    <link href="~/css/switch.css" rel="stylesheet" />
}


<form asp-action="smscontrol" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-primary font-weight-bolder h4">Attendance SMS Service
                    <label class="switch">
                        <input asp-for="AttendanceSMSService" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="card-body p-0">
                    <input type="hidden" asp-for="Id" />
                    <table class="table table-sm table-bordered text-center mb-0">
                        <tr>
                            <td rowspan="3" class="align-middle font-weight-bold h5">
                                Checkin SMS <br />                                
                                <label class="switch">
                                    <input asp-for="CheckInSMS" title="CheckIn SMS Switch" />
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td class="font-weight-bold">
                                Employee <br />
                                <label class="col-form-label">

                                    <label class="switch">
                                        <input asp-for="CheckInSMSEmployees" type="checkbox">
                                        <span class="slider round"></span>
                                    </label>

                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                Students (Boys) <br />
                                <label class="col-form-label">
                                    
                                    <label class="switch">
                                        <input asp-for="CheckInSMSStudentBoys" type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                    
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                Students (Girls) <br />
                                <label class="col-form-label">
                                    <label class="switch">
                                        <input asp-for="CheckInSMSStudentGirls" type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </label>
                            </td>
                        </tr>


                        <tr>
                            <td rowspan="3" class="align-middle h5 font-weight-bold">
                                Checkout SMS<br />
                                <label class="switch">
                                    <input asp-for="CheckOutSMS" />
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td class="font-weight-bold">
                                Employee <br />
                                <label class="col-form-label">
                                    <label class="switch">
                                        <input asp-for="CheckOutSMSEmployees" type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                Students (Boys) <br />
                                <label class="col-form-label">
                                    <label class="switch">
                                        <input asp-for="CheckOutSMSStudentBoys" type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                Students (Girls) <br />
                                <label class="col-form-label">
                                    <label class="switch">
                                        <input asp-for="CheckOutSMSStudentGirls" type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </label>
                            </td>
                        </tr>


                        <tr>
                            <td rowspan="2" class="align-middle h5 font-weight-bold">
                                Others Attendance SMS Service<br />                                
                            </td>
                            <td class="font-weight-bold">
                                Summary SMS Service <br />
                                <label class="col-form-label">
                                    <label class="switch">
                                        <input asp-for="CheckInSMSSummary" type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </label>
                            </td>
                        </tr>
                        <tr>                           
                            <td class="font-weight-bold">
                                Absent Student Notification <br />
                                <label class="col-form-label">
                                    <label class="switch">
                                        <input asp-for="AbsentNotification" type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-primary font-weight-bolder h4">Other SMS Service</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-center">
                    <input type="submit" value="Submit" class="btn btn-sm btn-primary rounded-1" />
                    <input type="button" class="btn-danger btn btn-sm rounded-1"  value="Cancel"/>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{

<script>
    $(document).ready(function () {

        $('#CheckInSMSEmployees').change(function () {
            if ($(this).prop('checked')) {
                $('#CheckInSMS').prop('checked', true);
                $('#AttendanceSMSService').prop('checked', true);
            } 
        });

        $('#CheckInSMSStudentBoys').change(function () {
            if ($(this).prop('checked')) {
                $('#CheckInSMS').prop('checked', true);
                $('#AttendanceSMSService').prop('checked', true);
            } 
        });

        $('#CheckInSMSStudentGirls').change(function () {
            if ($(this).prop('checked')) {
                $('#CheckInSMS').prop('checked', true);
                $('#AttendanceSMSService').prop('checked', true);
            } 
        });

        $('#CheckInSMS').change(function () {
            if (!$(this).prop('checked')) {
                $('#CheckInSMSEmployees').prop('checked', false);
                $('#CheckInSMSStudentBoys').prop('checked', false);
                $('#CheckInSMSStudentGirls').prop('checked', false);
            }
            else {
                $('#AttendanceSMSService').prop('checked', true);
            }
        });

        $('#CheckOutSMSEmployees').change(function () {
            if ($(this).prop('checked')) {
                $('#CheckOutSMS').prop('checked', true);
                $('#AttendanceSMSService').prop('checked', true);
            }
        });

        $('#CheckOutSMSStudentBoys').change(function () {
            if ($(this).prop('checked')) {
                $('#CheckOutSMS').prop('checked', true);
                $('#AttendanceSMSService').prop('checked', true);
            }
        });

        $('#CheckOutSMSStudentGirls').change(function () {
            if ($(this).prop('checked')) {
                $('#CheckOutSMS').prop('checked', true);
                $('#AttendanceSMSService').prop('checked', true);
            }
        });

        $('#CheckOutSMS').change(function () {
            if (!$(this).prop('checked')) {
                $('#CheckOutSMSEmployees').prop('checked', false);
                $('#CheckOutSMSStudentBoys').prop('checked', false);
                $('#CheckOutSMSStudentGirls').prop('checked', false);
            }
            else {
                $('#AttendanceSMSService').prop('checked', true);
            }
        });

        $('#CheckInSMSSummary').change(function () {
            if (!$(this).prop('checked')) {                
            }
            else {
                $('#AttendanceSMSService').prop('checked', true);
            }
        });

        $('#AbsentNotification').change(function () {
            if (!$(this).prop('checked')) {                
            }
            else {
                $('#AttendanceSMSService').prop('checked', true);
            }
        });

        $('#AttendanceSMSService').change(function () {
            if (!$(this).prop('checked')) {

                $('#CheckInSMS').prop('checked', false);
                $('#CheckOutSMS').prop('checked', false);

                $('#CheckInSMSEmployees').prop('checked', false);
                $('#CheckInSMSStudentBoys').prop('checked', false);
                $('#CheckInSMSStudentGirls').prop('checked', false);

                $('#CheckOutSMSEmployees').prop('checked', false);
                $('#CheckOutSMSStudentBoys').prop('checked', false);
                $('#CheckOutSMSStudentGirls').prop('checked', false);

                $('#CheckInSMSSummary').prop('checked', false);
                $('#AbsentNotification').prop('checked', false);
            } 
        });

    });
</script>
}