@model SMS.App.ViewModels.AdministrationVM.CreateRoleVM

<div class="">
    <form asp-action="CreateRole" asp-controller="Accounts" method="post">
        <div class="form-group row">
            <label asp-for="RoleName" class="col-md-2 col-form-label text-md-right"></label>
            <div class="col-md-8">
                <input asp-for="RoleName" class="form-control-sm" placeholder="Input role name" />
                <span class="text-danger" asp-validation-for="RoleName"></span>
            </div>
        </div>
    </form>
</div>