@model SMS.App.ViewModels.AdministrationVM.ForgotPasswordVM
@{
    ViewBag.Title = "Forgot Password";

    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row ">
    <div class="col-md-12">
        <div class=" ">
            <div class="card-header text-center">
                <h5 class="text-light">Forgot Password?</h5>
            </div>
            <div class="card-body pl-0 pr-0">
                <form asp-action="ForgotPassword" asp-controller="Accounts" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="Email" class="col-form-label-sm col-form-label text-md-right col-md-4 text-light col-4" style="white-space: nowrap;">User Name</label>
                        <div class="col-md-8 col-8">
                            <div class="row">
                                <input asp-for="Email" class="form-control form-control-sm" placeholder="Enter User Id">
                            </div>
                            <div>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-4 offset-md-4">
                            <input type="submit" asp-for="verificationBy" value="SMS" class="btn btn-sm btn-info btn-round" />
                            <input type="submit" asp-for="verificationBy" value="Email" class="btn btn-sm btn-success btn-round" />
                        </div>                       
                    </div>
                </form>
            </div>
            @if (ViewBag.msg != null)
            {
                <div class="card-footer text-center msg">
                    <span class="alert text-danger ">@ViewBag.msg</span>
                </div>
            }
            <div class="card-footer text-center">
                <a asp-action="Login" asp-controller="Accounts" class="btn btn-outline-info btn-sm text-light">Back to Login</a>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(function () {
            $('.msg').fadeOut(6000);
    });
    </script>
}