@model SMS.App.ViewModels.AdministrationVM.ForgotPasswordVM
@{
    ViewBag.Title = "Forgot Password";

    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}



<div class="row d-flex justify-content-center align-middle m-5">
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header text-center">
                <h4>Forgot Password?</h4>
            </div>
            <div class="card-body">
                
                <form asp-action="ForgotPassword" asp-controller="Accounts" method="post" class="p-3">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="Email" class="col-form-label text-md-right col-md-3"></label>
                        <div class="col-md-9 ">
                            <div class="row input-group">
                                <input asp-for="Email" class="form-control" placeholder="Enter Email Address">                               
                            </div>
                            <div>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-md-right">
                            <input type="submit" asp-for="verificationBy" value="SMS"  class="btn btn-info btn-round"/>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" asp-for="verificationBy" value="Email" class="btn btn-success btn-round" />
                        </div>
                    </div>
                </form>
                
            </div>
            @if (ViewBag.msg!=null)
            {
                <div class="card-footer text-center">
                    <span class="alert text-danger">@ViewBag.msg</span>
                </div>
            }
            <div class="card-footer text-center">
                <a asp-action="Login" asp-controller="Accounts" class="alert text-info">Back to Login</a>
            </div>
        </div>
    </div>
</div>


