@model SMS.App.ViewModels.AdministrationVM.LoginVm

@{
    ViewBag.Title = "User Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<h2>Login</h2>
<form asp-action="login" asp-controller="accounts" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="inputBx">
        <span>Username</span>
        <input asp-for="AppUser" placeholder="Email/Username">
    </div>
    <div class="inputBx">
        <span>Password</span>
        <input asp-for="Password" placeholder="Password" >
    </div>
    <div class="remember">
        <label><input asp-for="RememberMe"> Remember me</label>
    </div>
    <div class="inputBx">
        <input type="submit" value="Sign in" name="">
    </div>
    <div class="inputBx">
        <p>Forget password? <a asp-action="forgotPassword" asp-controller="Accounts" >Reset</a></p>
    </div>
</form>