@model SMS.App.ViewModels.AdministrationVM.RegisterVM

@{
    ViewBag.Title = "User Registration";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    char userType = ' ';
    string user = "New User";
    if (ViewBag.user != null)
    {
        user = ViewBag.user;
    }
    if (ViewBag.userType != null)
    {
        userType = ViewBag.userType;
    }
}





<div class="card-header text-center text-light">
    <h4>@user registration</h4>
</div>
<form class="p-3" method="post" asp-action="Register">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-md-12">
            <select asp-for="UserType" class="form-control">
                <option selected disabled>-Select User Type-</option>
                <option value="s">Student</option>
                <option value="e">Employee</option>
            </select>
            <span asp-validation-for="ReferenceId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <select asp-for="ReferenceId" class="form-control" asp-items="@ViewBag.userList">
                <option selected disabled>-Select User-</option>
            </select>
            <span asp-validation-for="ReferenceId" class="text-danger"></span>
        </div>
    </div>
    <div id="registerDetail" style="display:none">
        <div class="form-group row">
            <div class="col-md-12">
                <input asp-for="Email" class="form-control" placeholder="Email" readonly />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <input asp-for="Phone" class="form-control" readonly  placeholder="Phone"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-center text-light">
        <span>Already registerd! <a class="btn btn-sm btn-light btn-outline-info" asp-action="login" asp-controller="Accounts" asp-route-userType="@ViewBag.userType">Login</a></span>
    </div>
</form>





@section Scripts{
    <script>
        $(document).ready(function () {
            $('#UserType').on('change', function () {
                let type = $(this).val();
                $.ajax({
                    url: "/Accounts/GetUserByUserType",
                    data: { id: type },
                    type: 'JSON',
                    method: 'POST',
                    success: function (data) {
                        $('#ReferenceId').empty();
                        $('#ReferenceId').append('<option selected disabled>Select user</option>');
                        $.each(data, function (i, obj) {
                            if (obj.userType == 'e') {
                                let o = '<option value="' + obj.value + '">' + obj.name + " (" + obj.phone + ")" + '</option>';
                                $('#ReferenceId').append(o);
                            }
                            else if (obj.userType == 's') {
                                let o = '<option value="' + obj.value + '">' + obj.roll + " " + obj.name + '</option>';
                                $('#ReferenceId').append(o);
                            }

                        });
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });

            $('#ReferenceId').change(function () {
                let userId = $(this).val();
                let userType = $('#UserType').val();
                $.ajax({
                    url: "/Accounts/GetUserById",
                    data: { id: userId, type: userType },
                    type: 'JSON',
                    method: 'POST',
                    success: function (data) {
                        $('#registerDetail').css('display', 'block');
                        $('#Email').val(data.email);
                        $('#Phone').val(data.phone);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });
        });
    </script>
}