
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="jumbotron">
    <h4>
        Your password is reset. Please click <a asp-action="Login" asp-controller="Accounts" class="btn btn-outline-info">Here to login</a>
    </h4>

</div>