@using Microsoft.AspNetCore.Identity

@model IEnumerable<IdentityRole>

@{ 
    int sl = 0;
}
<div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>Role Name</th>
                <th>
                    <a class="p-2 btn-sm btn-info rounded-pill" asp-action="CreateRole" asp-controller="Accounts"><i class="fa fa-plus"></i> Add</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var role in Model)
                {
                    <tr>
                        <td>@(++sl)</td>
                        <td>@role.Id</td>
                        <td>@role.Name</td>
                        <td>
                            <a class="p-2 btn-sm btn-info rounded-pill" asp-action="EditRole" asp-controller="Accounts" asp-route-id="@role.Id"> Edit</a>
                             | Delete
                        </td>
                    </tr>
                }
            }
        </tbody>
        
    </table>
</div>

