<siteMap>
	<!-- 1. Administration & Setup -->
	<module systemName="Administration" displayName="Admin" Permission="AdministrationPermission" Icon="fas fa-cogs">
		<submodule systemName="InstituteSetup" displayName="Institute" Icon="fas fa-university">
			<item systemName="SchoolProfile" displayName="Institute Profile" Controller="Institutes" Action="Index" Claim="IndexInstitutesPolicy"/>
			<item systemName="SchoolBranches" displayName="Branches" Controller="" Action="" Claim=""/>
			<item systemName="AcademicCalendar" displayName="Calendar" Controller="" Action="" Claim=""/>
			<item systemName="HolidaysType" displayName="Holidays Type" Controller="OffDayType" Action="Index" Claim="IndexOffDayTypesPolicy"/>
			<item systemName="Holidays" displayName="Holidays" Controller="OffDays" Action="Index" Claim="IndexOffDaysPolicy"/>
		</submodule>
		
		<submodule systemName="AcademicSetup" displayName="Academic" Icon="fas fa-graduation-cap">
			<item systemName="AcademicSession" displayName="Session" Controller="AcademicSessions" Action="Index" Claim="IndexAcademicSessionPolicy"/>
			<item systemName="AcademicClass" displayName="Class" Controller="AcademicClasses" Action="Index" Claim="IndexAcademicClassesPolicy"/>
			<item systemName="AcademicSection" displayName="Section" Controller="AcademicSections" Action="Index" Claim="IndexAcademicSectionPolicy"/>
			<item systemName="AcademicSubject" displayName="Subjects" Controller="AcademicSubjects" Action="Index" Claim="IndexAcademicSubjectPolicy"/>
			<item systemName="AcademicCurriculum" displayName="Curriculum" Controller="" Action="" Claim=""/>
			<item systemName="GradingPolicy" displayName="Grading" Controller="GradingTable" Action="Index" Claim="IndexGradingTablePolicy"/>
		</submodule>
		
		<submodule systemName="SecuritySetup" displayName="Security" Icon="fas fa-shield-alt">
			<item systemName="ApplicationUser" displayName="User List" Controller="Accounts" Action="userList" Claim="UserListAccountsPolicy"/>
			<item systemName="ApplicationUser" displayName="User Profile" Controller="Administrations" Action="UserProfile" Claim="ViewUserProfileAdministrationsPolicy"/>
			<item systemName="ApplicationRole" displayName="Roles" Controller="Accounts" Action="roleList" Claim="ViewRolesAccountsPolicy"/>
			<item systemName="ApplicationPermission" displayName="Permissions" Controller="" Action="" Claim=""/>
			<item systemName="ApplicationAudit" displayName="Audit Logs" Controller="" Action="" Claim=""/>
		</submodule>
		
		<submodule systemName="Integrations" displayName="Integration" Icon="fas fa-plug">
			<item systemName="Localizations" displayName="Languages" Controller="" Action="" Claim=""/>
			<item systemName="ExternalIntegrations" displayName="3rd Party" Controller="" Action="" Claim=""/>
		</submodule>
		<submodule systemName="UserRoles" displayName="Users Roles" Icon="fas fa-plug">
			<item systemName="UserProfile" displayName="User Profile" Controller="Administrations" Action="UserProfile" Claim="ViewUserProfileAdministrationsPolicy"/>
		</submodule>
		<submodule systemName="AdminReports" displayName="Reports" Icon="fas fa-chart-bar">
			<item systemName="SetupReport" displayName="Setup Report" Controller="" Action="" Claim=""/>
			<item systemName="UserReport" displayName="User Report" Controller="" Action="" Claim=""/>
		</submodule>
	</module>

	<!-- 2. Student Management -->
	<module systemName="StudentManagement" displayName="Students" Permission="StudentManagementPermission" Icon="fas fa-user-graduate">
		<item systemName="StudentRegistration" displayName="Add New Student" Controller="Students" Action="Create" Claim="CreateStudentsPolicy"/>
		<item systemName="StudentProfile" displayName="Students" Controller="Students" Action="Index" Claim="IndexStudentsPolicy"/>
			
		<submodule systemName="StudentRecords" displayName="Records" Icon="fas fa-folder-open">
			<item systemName="StudentProfile" displayName="Students" Controller="Students" Action="Index" Claim="IndexStudentsPolicy"/>
			<item systemName="StudentEnrollment" displayName="Enrollment" Controller="" Action="" Claim=""/>
			<item systemName="StudentTransfer" displayName="Transfers" Controller="" Action="" Claim=""/>
			<item systemName="StudentDiscipline" displayName="Discipline" Controller="" Action="" Claim=""/>
		</submodule>
		<submodule systemName="StudentReports" displayName="Reports" Icon="fas fa-file-alt">
			<item systemName="StudentListReport" displayName="Student List" Controller="" Action="" Claim=""/>
			<item systemName="StudentHistoryReport" displayName="History" Controller="" Action="" Claim=""/>
		</submodule>
	</module>

	<!-- 3. Staff & HR -->
	<module systemName="HR" displayName="HR" Permission="HRPermission" Icon="fas fa-users">
		<submodule systemName="EmployeeManagement" displayName="Employees" Icon="fas fa-user-tie">
			<item systemName="EmployeeProfile" displayName="Profile" Controller="Employees" Action="Index" Claim="IndexEmployeesPolicy"/>
			<item systemName="EmployeeType" displayName="Types" Controller="" Action="" Claim=""/>
			<item systemName="EmployeeCategory" displayName="Categories" Controller="" Action="" Claim=""/>
		</submodule>
		<submodule systemName="Setup" displayName="HR Setup" Icon="fas fa-user-tie">
			<item systemName="Designation" displayName="Designation" Controller="Designations" Action="Index" Claim="IndexDesignationsPolicy"/>
			<item systemName="Department" displayName="Department" Controller="" Action="" Claim=""/>
		</submodule>
		<submodule systemName="HRReports" displayName="Reports" Icon="fas fa-chart-pie">
			<item systemName="EmployeeListReport" displayName="Employee List" Controller="" Action="" Claim=""/>
			<item systemName="StaffAttendanceReport" displayName="Attendance" Controller="" Action="" Claim=""/>
		</submodule>
	</module>

	<!-- 4. Academic Management -->
	<module systemName="Academics" displayName="Academics" Permission="AcademicsPermission" Icon="fas fa-book">
		<submodule systemName="Classroom" displayName="Classes" Icon="fas fa-chalkboard-teacher">
			<item systemName="ClassSchedule" displayName="Schedule" Controller="" Action="" Claim=""/>
			<item systemName="LessonPlan" displayName="Lesson Plan" Controller="" Action="" Claim=""/>
			<item systemName="Assignments" displayName="Assignments" Controller="" Action="" Claim=""/>
		</submodule>
		<submodule systemName="AcademicReports" displayName="Reports" Icon="fas fa-file-alt">
			<item systemName="ScheduleReport" displayName="Schedules" Controller="" Action="" Claim=""/>
			<item systemName="AssignmentReport" displayName="Assignments" Controller="" Action="" Claim=""/>
		</submodule>
	</module>

	<!-- 5. Attendance & Discipline -->
	<module systemName="Attendance" displayName="Attendance" Permission="AttendancePermission" Icon="fas fa-check-square">
		<submodule systemName="AttendanceManagement" displayName="Manage" Icon="fas fa-clipboard-check">
			<item systemName="StudentAttendance" displayName="Add Attendance" Controller="attendancemachines" Action="create" Claim="CreateAttendanceMachinesPolicy"/>
			<item systemName="StaffAttendance" displayName="Staff" Controller="" Action="" Claim=""/>
		</submodule>
		<submodule systemName="AttendanceReports" displayName="Reports" Icon="fas fa-chart-line">
			<item systemName="DailyAllAttendence" displayName="Daily Attedance 1" Controller="AttendanceMachines" Action="Index" Claim="IndexAttendanceMachinesPolicy"/>
			<item systemName="DailyAttendanceReport" displayName="Daily Attedance 2" Controller="Reports" Action="DailyAttendanceReport" Claim="DailyAttendanceReportsPolicy"/>
			<item systemName="MonthlyAttendanceReport" displayName="Monthly Att. (student)" Controller="Reports" Action="AttendanceReport" Claim="AttendanceReportsPolicy"/>
		</submodule>
	</module>

	<!-- 6. Examination -->
	<module systemName="Exam_Result" displayName="Exams" Permission="ExamsPermission" Icon="fas fa-pencil-alt">
		<submodule systemName="ExamSetup" displayName="Setup" Icon="fas fa-cog">
			<item systemName="ExamGroup" displayName="Exam Group" Controller="AcademicExamGroup" Action="Index" Claim="IndexAcademicExamGroupPolicy"/>
			<item systemName="ExamType" displayName="Exam Group Types" Controller="AcademicExamType" Action="Index" Claim="IndexAcademicExamTypePolicy"/>
			<item systemName="ExamList" displayName="Examinations" Controller="AcademicExams" Action="Index" Claim="IndexAcademicExamPolicy"/>
			<item systemName="ExamSchedule" displayName="Schedules" Controller="" Action="" Claim=""/>
		</submodule>
		<submodule systemName="ExamResults" displayName="Results" Icon="fas fa-file-excel">
			<item systemName="LiveResult" displayName="Live Result" Controller="ExamResults" Action="Liveresult" Claim="LiveResultExamResultsPolicy"/>
			<item systemName="ClassWiseResult" displayName="Class-wise Result" Controller="ExamResults" Action="ClassWiseResult" Claim="ClassWiseResultExamResultsPolicy"/>
			<item systemName="SubjectWiseResult" displayName="Subject-wise Result" Controller="ExamResults" Action="index" Claim="IndexExamResultsPolicy"/>
			<!--<item systemName="GradeSheet" displayName="Grade Sheets" Controller="GradingTable" Action="Index" Claim="IndexGradingTablePolicy"/>-->
		</submodule>
		<submodule systemName="ExamReports" displayName="Reports" Icon="fas fa-chart-bar">
			<item systemName="AdmitCardReport" displayName="AdmitCard" Controller="AcademicExams" Action="AdmitCard" Claim="IndexAcademicExamPolicy"/>
			<item systemName="ClassWiseResultReport" displayName="Class-Wise Result" Controller="ExamResults" Action="ClassWiseResultAfterProcess" Claim="ClassWiseResultAfterProcessExamResultsPolicy"/>
			<item systemName="SubjectWiseResultReport" displayName="Subject Wise Result" Controller="ExamResults" Action="SubjectWiseResultAfterProcess" Claim="SubjectWiseResultAfterProcessExamResultsPolicy"/>
			<item systemName="MarkSheetReport" displayName="Mark-Sheet" Controller="Reports" Action="MarkSheetReport" Claim="StudentWiseMarkSheetReportsPolicy"/>
		</submodule>
	</module>

	<!-- 7. Finance & Accounting -->
	<module systemName="Finance" displayName="Finance" Permission="FinancePermission" Icon="fas fa-dollar-sign">
		<submodule systemName="Accounts" displayName="Accounts" Icon="fas fa-calculator">
			<item systemName="ChartOfAccounts" displayName="Chart" Controller="" Action="" Claim=""/>
			<item systemName="Vouchers" displayName="Vouchers" Controller="" Action="" Claim=""/>
			<item systemName="Ledger" displayName="Ledger" Controller="" Action="" Claim=""/>
			<item systemName="TrialBalance" displayName="Trial Balance" Controller="" Action="" Claim=""/>
		</submodule>
		<submodule systemName="StudentFinance" displayName="Student Fees" Icon="fas fa-money-bill">
			<item systemName="FeeCollection" displayName="Collection" Controller="StudentPayments" Action="Payment" Claim="PaymentStudentPaymentsPolicy"/>

			<item systemName="ClassFeeLists" displayName="Class Fee Setup" Controller="ClassFeeLists" Action="Index" Claim="IndexClassFeeListsPolicy"/>
			
			<item systemName="StudentFeeHeads" displayName="Payment fee head" Controller="StudentFeeHeads" Action="Index" Claim="IndexStudentFeeHeadsPolicy"/>

			<item systemName="Fee Allocation" displayName="Fee Allocations" Controller="StudentFeeAllocations" Action="Index" Claim="ViewStudentFeeAllocationsPolicy"/>
			
			<item systemName="FeeAllocationCreateByGroup" displayName="Fee Allocation Group" Controller="StudentFeeAllocations" Action="FeeAllocationByGroup" Claim="GroupStudentFeeAllocationsPolicy"/>

		</submodule>
		<submodule systemName="DueAmount" displayName="Deu (Fees)" Icon="fas fa-money-bill">			
			<item systemName="StudentDuePayment" displayName="Due Payment (Current)" Controller="StudentPayments" Action="DuePayment" Claim="DuePaymentStudentPaymentsPolicy"/>
			<item systemName="StudentDuePaymentPrevious" displayName="Due Payment (Previous)" Controller="StudentPayments" Action="DuePaymentPrevious" Claim="PreviousDuePaymentStudentPaymentsPolicy"/>
		</submodule>

		<submodule systemName="StaffFinance" displayName="Payroll" Icon="fas fa-money-check">
			<item systemName="SalarySetup" displayName="Setup" Controller="" Action="" Claim=""/>
			<item systemName="SalaryPayment" displayName="Payments" Controller="" Action="" Claim=""/>
		</submodule>
		<submodule systemName="FinanceReports" displayName="Reports" Icon="fas fa-file-invoice-dollar">
			<item systemName="SinglePayment" displayName="Single Payment" Controller="Reports" Action="StudentPaymentInfo" Claim="StudentPaymentInfoReportsPolicy"/>
			<item systemName="GroupPayment" displayName="Group Payment" Controller="Reports" Action="StudentPaymentReport" Claim="StudentPaymentReportsPolicy"/>
			
		</submodule>
	</module>

	<!-- 8. Library -->
	<module systemName="Library" displayName="Library" Permission="LibraryPermission" Icon="fas fa-book-open">
		<submodule systemName="LibrarySetup" displayName="Setup" Icon="fas fa-cog">
			<item systemName="Books" displayName="Books" Controller="" Action="" Claim=""/>
			<item systemName="Categories" displayName="Categories" Controller="" Action="" Claim=""/>
		</submodule>
		<submodule systemName="LibraryOperations" displayName="Operations" Icon="fas fa-exchange-alt">
			<item systemName="BookIssue" displayName="Issue" Controller="" Action="" Claim=""/>
			<item systemName="BookReturn" displayName="Return" Controller="" Action="" Claim=""/>
			<item systemName="Fines" displayName="Fines" Controller="" Action="" Claim=""/>
		</submodule>
		<submodule systemName="LibraryReports" displayName="Reports" Icon="fas fa-chart-bar">
			<item systemName="BookStockReport" displayName="Stock" Controller="" Action="" Claim=""/>
			<item systemName="UsageReport" displayName="Usage" Controller="" Action="" Claim=""/>
		</submodule>
	</module>

	<!-- 9. Transport -->
	<module systemName="Transport" displayName="Transport" Permission="TransportPermission" Icon="fas fa-bus">
		<submodule systemName="TransportSetup" displayName="Setup" Icon="fas fa-cog">
			<item systemName="Vehicles" displayName="Vehicles" Controller="" Action="" Claim=""/>
			<item systemName="Routes" displayName="Routes" Controller="" Action="" Claim=""/>
			<item systemName="Stops" displayName="Stops" Controller="" Action="" Claim=""/>
		</submodule>
		<submodule systemName="TransportOperations" displayName="Operations" Icon="fas fa-route">
			<item systemName="Driver" displayName="Drivers" Controller="" Action="" Claim=""/>
			<item systemName="StudentTransport" displayName="Assignments" Controller="" Action="" Claim=""/>
		</submodule>
		<submodule systemName="TransportReports" displayName="Reports" Icon="fas fa-file-alt">
			<item systemName="RouteReport" displayName="Route" Controller="" Action="" Claim=""/>
			<item systemName="UsageReport" displayName="Usage" Controller="" Action="" Claim=""/>
		</submodule>
	</module>

	<!-- 10. Communication -->
	<module systemName="Communication" displayName="Comms" Permission="CommunicationPermission" Icon="fas fa-envelope">
		<submodule systemName="Messaging" displayName="Messaging" Icon="fas fa-comment-alt">
			<item systemName="SMS" displayName="SMS" Controller="Setup" Action="SMSControl" Claim="SMSControlSetupPolicy"/>
			<item systemName="Email" displayName="Email" Controller="" Action="" Claim=""/>
			<item systemName="NoticeBoard" displayName="Notice" Controller="" Action="" Claim=""/>
		</submodule>
		<submodule systemName="CommunicationReports" displayName="Reports" Icon="fas fa-file-alt">
			<item systemName="MessageLogReport" displayName="Logs" Controller="" Action="" Claim=""/>
		</submodule>
	</module>

	<!-- 11. Application Settings -->
	<module systemName="ApplicationSetup" displayName="Application Setup" Permission="ApplicationPermission" Icon="fa-solid fa-gear">
		<submodule systemName="ModuleHierarchy" displayName="Module Hierarchy" Icon="fas fa-file-alt">
			<item systemName="Modules" displayName="Project Modules" Controller="ProjectModules" Action="Index" Claim="IndexProjectModulesPolicy"/>
			<item systemName="Sub-Modules" displayName="Sub-Modules" Controller="ProjectSubModules" Action="Index" Claim="IndexProjectModulesPolicy"/>
			<item systemName="Claims" displayName="Permissions" Controller="ClaimStores" Action="Index" Claim="IndexClaimStoresPolicy"/>
		</submodule>
	</module>
</siteMap>
