

<input type="submit" value="Create" class="btn btn-sm btn-primary rounded-1" data-toggle="tooltip" data-placement="bottom" title="Create" />
<a asp-action="Index" class="btn btn-info btn-sm rounded-1 ml-2" data-toggle="tooltip" data-placement="top" title="List"><i class="fa fa-list"></i> Back</a>


@*<partial name="_Create_Back" />*@