
@inject UserManager<ApplicationUser> _userManager;

@model int
<div class="btn-group btn-group-sm" role="group">
    @if(User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
    {
    <a class="btn btn-sm  rounded mr-1" asp-action="Edit" asp-route-id="@Model" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit text-dark"></i> </a>
    }
    <a class="btn  btn-sm rounded mr-1" asp-action="Details" asp-route-id="@Model" data-toggle="tooltip" data-placement="top" title="Details"><i class="fas fa-info-circle text-info"></i> </a>
    @if(User.IsInRole("SuperAdmin"))
    {
    <a class="btn btn-sm rounded " asp-action="Delete" asp-route-id="@Model" data-toggle="tooltip" data-placement="right" title="Delete"><i class="fa fa-trash text-danger"></i> </a>
    }
</div>

@*<partial name="_Edit_Details_Delete" model="@item.Id" />*@