@inject UserManager<ApplicationUser> _userManager;
@{
    string createdBy = string.Empty;
}

<div class="row" style="position:absolute;bottom:20px;">
    <table class="table table-sm table-responsive table-responsive-sm">
        <tr>
            <td>Last Updated By</td>
            <td>:</td>
            <td>
                @if (ViewBag.LastUpdatedBy != null)
                {
                    ApplicationUser aUser = await _userManager.FindByIdAsync(ViewBag.LastUpdatedBy);
                    createdBy = aUser.UserName;
                }
                @createdBy
            </td>
        </tr>
        <tr>
            <td>Last Updated At</td>
            <td>:</td>
            <td> @ViewBag.LastUpdatedAt</td>
        </tr>
    </table>
</div>