<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <!--<link href="~/lib/Theme/font-awesome/css/font-awesome.min.css" rel="stylesheet" />-->

    <title>@ViewBag.Title</title>
    <link href="~/css/style.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <section>
        <div class="imgBx">
            <img src="~/Images/Institute/bg2.jpg" />
        </div>
        <div class="contentBx">
            <div class="formBx">
                @RenderBody()

            </div>
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Validation -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @*<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>*@
    @await RenderSectionAsync("Scripts", required: false);
</body>
</html>