@model SMS.Entities.Institute

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
            <div class="form-group row">
                <label asp-for="Name" class="control-label col-form-label col-md-2 text-md-right bg-blue-sky rounded"></label>
                <div class="col-md-10">
                    <input readonly spellcheck="true" asp-for="Name" class="form-control inputClass rounded" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
@*            <div class="form-group row">
                <label asp-for="ISO" class="control-label col-form-label col-md-2 text-md-right bg-blue-sky rounded"></label>
                <div class="col-md-10">
                    <input readonly asp-for="ISO" class="form-control inputClass rounded" />
                    <span asp-validation-for="ISO" class="text-danger"></span>
                </div>
            </div>*@
            <div class="form-group row">
                <label asp-for="EIIN" class="control-label col-form-label col-md-2 text-md-right bg-blue-sky rounded"></label>
                <div class="col-md-10">
                    <input readonly asp-for="EIIN" class="form-control inputClass rounded" />
                    <span asp-validation-for="EIIN" class="text-danger"></span>

                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Slogan" class="control-label col-form-label col-md-2 text-md-right bg-blue-sky rounded"></label>
                <div class="col-md-10">
                    <input readonly asp-for="Slogan" class="form-control inputClass rounded" />
                    <span asp-validation-for="Slogan" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Banner" class="control-label col-form-label col-md-2 text-md-right bg-blue-sky rounded"></label>
                <div class="col-md-5 imageClass" hidden>
                    <input type="hidden" asp-for="Banner"  />
                    <input hidden type="file" name="Banner" class="col-form-label imageClass" id="BannerId" />
                    <span asp-validation-for="Banner" class="text-danger"></span>
                </div>
                <div class="col-md-5">
                    <div id="existingBannerDiv">
                        @if (Model.Banner != null)
                        {
                            <img src="~/Images/Institute/@Model.Banner" alt="Institute Banner" style="height:60px" />
                        }
                    </div>
                    <div id="newBannerDiv" style="display:none">
                        <img class="img-fluid" id="sBannerId" src="#" alt="Logo" style="height:130px;" />
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Logo" class="control-label col-form-label col-md-2 text-md-right bg-blue-sky rounded"></label>
                <div class="col-md-5 imageClass" hidden>
                    <input hidden asp-for="Logo" class="col-form-label" />
                    <input hidden type="file" name="Logo" class="imageClass col-form-label" id="inputGroupFile02"/>
                    <span asp-validation-for="Logo" class="text-danger"></span>
                </div>
                <div class="col-md-5">
                    <div id="existingLogoDiv">
                        @if (Model.Logo != null)
                        {
                            <img src="~/Images/Institute/@Model.Logo" alt="Institute Logo" style="height:60px" />
                        }
                    </div>
                    <div id="newLogoDiv" style="display:none">
                        <img class="img-fluid" id="sLogoId" src="#" alt="Logo" style="height:130px;" />
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Address" class="control-label col-form-label col-md-2 text-md-right bg-blue-sky rounded"></label>
                <div class="col-md-10">
                    <input readonly asp-for="Address" class="form-control inputClass rounded col-form-label" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="BranchName" class="control-label col-form-label col-md-2 text-md-right bg-blue-sky rounded"></label>
                <div class="col-md-10">
                    <input readonly asp-for="BranchName" class="form-control inputClass rounded col-form-label" />
                    <span asp-validation-for="BranchName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-10 offset-md-2">
                    <button id="submitButton" hidden class="btn btn-info" type="submit">Update</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-1 text-right">
        <button id="editButton" class="btn-sm" title="Edit" data-toggle="tooltip" data-placement="right"><i class="fa fa-edit"></i> </button>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        $('#editButton').click(function () {
            $(this).hide();
            $('.inputClass').removeAttr('readonly');
            $('.imageClass').removeAttr('hidden');
            $('#submitButton').removeAttr('hidden');
            
        });

        $('#submitButton').click(function () {
            $(this).hide();
            $('#editButton').show();
            $('.inputClass').addAttr('readonly');
        });

        function readURL(input, idName) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(idName).attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }
        $("#BannerId").change(function () {
            $("#newBannerDiv").show();
            $("#existingBannerDiv").hide();
            let imgId = "#sBannerId";
            readURL(this, imgId);
        });

        $("#inputGroupFile02").change(function () {
            $("#newLogoDiv").show();
            $("#existingLogoDiv").hide();
            let imgId = "#sLogoId";
            readURL(this, imgId);
        });
    });
</script>
}
