@model SMS.Entities.Institute

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>Institute</h4>
    <hr />
    <dl class="row">
        <dd>Inst</dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
