@model SMS.App.ViewModels.InstituteVM.InstituteTimeVM
<div class="row">
<div class="col-md-10">
    <form asp-action="SchoolTimeTable" method="post">
        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label text-md-right" asp-for="StartingTime"></label>
            <div class="col-md-10">
                <input type="time" asp-for="StartingTime" class="form-control" />
                <span asp-validation-for="StartingTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label text-md-right" asp-for="ClosingTime"></label>
            <div class="col-md-10">
                <input type="time" asp-for="ClosingTime" class="form-control" />
                <span asp-validation-for="ClosingTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label text-md-right" asp-for="LateTimeStart"></label>
            <div class="col-md-10">
                <input type="time" asp-for="LateTimeStart" class="form-control" />
                <span asp-validation-for="LateTimeStart" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4 offset-md-2">
                <input type="submit" class="btn btn-info" />
            </div>
        </div>
    </form>
</div>

</div>
