<div class="col-md-10">
    <form asp-action="Setting" method="post">
        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">Institute Name:</label>
            <div class="col-md-10">
                <input type="text" name="name" class="form-control" />
            </div>
        </div>
        <div class="row">
            <input type="submit" class="btn btn-info" />
        </div>
    </form>
</div>
