@model SMS.App.ViewModels.Employees.EmployeeCreateVM

@{
    ViewData["Title"] = "Create Employee";
    GlobalUI.PageTitle = "Add New Employee";
}

<div class="row">
    <div class="col-md-12 shadow p-3">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="EmployeeName" class="control-label col-form-label col-md-2 text-right"></label>
                <div class="col-md-4">
                    <input asp-for="EmployeeName" class="form-control form-control-sm rounded" />
                    <span asp-validation-for="EmployeeName" class="text-danger"></span>
                </div>


                <label asp-for="Image" class="control-label col-md-2 text-right"></label>
                <div class="col-md-4">
                    <input type="file" name="empImage" class="rounded" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="form-group row">
                <label asp-for="DOB" class="col-form-label col-md-2 text-right"></label>
                <div class="col-md-4">
                    <input asp-for="DOB" class="form-control form-control-sm rounded" />
                    <span asp-validation-for="DOB" class="text-danger"></span>
                </div>

                <label asp-for="GenderId" class="control-label col-form-label col-md-2 text-right"></label>
                <div class="col-md-4">
                    <select asp-for="GenderId" class="form-control form-control-sm rounded" asp-items="Model.GenderList">
                        <option selected disabled>Select Gender</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="ReligionId" class="control-label col-form-label col-md-2 text-right"></label>
                <div class="col-md-4">
                    <select asp-for="ReligionId" class="form-control form-control-sm rounded" asp-items="Model.ReligionList">
                        <option selected disabled>Select Religion</option>
                    </select>
                </div>


                <label asp-for="NationalityId" class="control-label col-form-label col-md-2 text-right"></label>
                <div class="col-md-4">
                    <select asp-for="NationalityId" class="form-control form-control-sm rounded" asp-items="Model.NationalityList">
                        <option selected disabled>Select Nationality</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="NIDNo" class="control-label col-form-label col-md-2 text-right"></label>
                <div class="col-md-4">
                    <input asp-for="NIDNo" class="form-control form-control-sm rounded" />
                    <span asp-validation-for="NIDNo" class="text-danger"></span>
                </div>


                <label asp-for="NIDCard" class="control-label col-md-2 text-right"></label>
                <div class="col-md-4">
                    <input type="file" name="nidCard" class="rounded" />
                    <span asp-validation-for="NIDCard" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Phone" class="control-label col-form-label col-md-2 text-right"></label>
                <div class="col-md-4">
                    <input asp-for="Phone" class="form-control form-control-sm rounded" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <label asp-for="Email" class="control-label col-form-label col-md-2 text-right"></label>
                <div class="col-md-4">
                    <input asp-for="Email" class="form-control form-control-sm rounded" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Nominee" class="control-label col-form-label col-md-2 text-right"></label>
                <div class="col-md-4">
                    <input asp-for="Nominee" class="form-control form-control-sm rounded" />
                    <span asp-validation-for="Nominee" class="text-danger"></span>
                </div>

                <label asp-for="NomineePhone" class="control-label col-form-label col-md-2 text-right"></label>
                <div class="col-md-4">
                    <input asp-for="NomineePhone" class="form-control form-control-sm rounded" />
                    <span asp-validation-for="NomineePhone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="EmpTypeId" class="control-label col-form-label col-md-2 text-right"></label>
                <div class="col-md-4">
                    <select asp-for="EmpTypeId" class="form-control form-control-sm rounded" asp-items="Model.EmpTypeList">
                        <option selected disabled>Select Type of Employee</option>
                    </select>
                </div>

                <label asp-for="DesignationId" class="control-label col-form-label col-md-2 text-right"></label>
                <div class="col-md-4">
                    <select asp-for="DesignationId" class="form-control form-control-sm rounded" asp-items="Model.DesignationList">
                        <option selected disabled>Select Designation</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="JoiningDate" class="control-label col-form-label col-md-2 text-right"></label>
                <div class="col-md-4">
                    <input asp-for="JoiningDate" class="form-control form-control-sm rounded" />
                    <span asp-validation-for="JoiningDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="PresentAddress" class="control-label col-form-label col-md-2 text-right"></label>
                <div class="col-md-10">
                    <input asp-for="PresentAddress" class="form-control form-control-sm rounded" placeholder="Area / Village / Road" />
                    <span asp-validation-for="PresentAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-2 col-md-10">
                    <div class="row">
                        <div class="col-md-4">
                            <select asp-for="PresentDivisionId" class="form-control form-control-sm" asp-items="ViewBag.PresentDivisionId">
                                <option selected disabled>Select Division</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select asp-for="PresentDistrictId" class="form-control form-control-sm rounded" asp-items="ViewBag.PresentDistrictId">
                                <option selected disabled>Select District</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select asp-for="PresentUpazilaId" class="form-control form-control-sm rounded" asp-items="ViewBag.PresentUpazilaId">
                                <option selected disabled>Select Upazila</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="PermanentAddress" class="control-label col-form-label col-md-2 text-right"></label>
                <div class="col-md-10">
                    <input asp-for="PermanentAddress" class="form-control form-control-sm rounded" />
                    <span asp-validation-for="PermanentAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-10 offset-2">
                    <div class="row">
                        <div class="col-md-4">
                            <select asp-for="PermanentDivisionId" class="form-control form-control-sm rounded" asp-items="ViewBag.PermanentDivisionId">
                                <option selected disabled>Select Division</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select asp-for="PermanentDistrictId" class="form-control form-control-sm rounded" asp-items="ViewBag.PermanentDistrictId">
                                <option selected disabled>Select District</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select asp-for="PermanentUpazilaId" class="form-control form-control-sm rounded" asp-items="ViewBag.PermanentUpazilaId">
                                <option selected disabled>Select Upazila</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group form-check row">
                <label class="form-check-label offset-2 col-form-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="form-group row">
                <div class="text-center col-md-12">
                    <partial name="_Create_Back" />
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
