@model SMS.App.ViewModels.Employees.EmployeeDetailsVM

@{
    ViewData["Title"] = "Details";
    GlobalUI.PageTitle = ViewBag.Title + " about " + Model.EmployeeName;
}


<div class="row">
    <div class="col-md-3">
        <div class="row" >
            <img class="rounded-circle img-thumbnail w-50 d-block mx-auto" src="~/Images/Employee/photo/@Model.Image" alt="Alternate Text" />
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
                Personal Information
            </a>
            <a href="#" class="list-group-item list-group-item-action">Academic Information</a>
            <a href="#" class="list-group-item list-group-item-action">Official information</a>
            <a href="#" class="list-group-item list-group-item-action">Other</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
        </div>
    </div>
    <div class="col-md-9 bg-Teal shadow rounded">

    </div>
</div>


<div class="d-flex align-items-start">

    <div class="tab-content" id="v-pills-tabContent">

    </div>
</div>


<div class="row p-2 text-center">
    <partial name="_Edit_Back" model="@Model.Id" />
</div>
